@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Lato:wght@400;700&display=swap');
/* font-family: 'Barlow', sans-serif;
font-family: 'Lato', sans-serif; */
*{
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body, html{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

figure{
    margin: 0;
    padding: 0;
}

figure img{
    margin: 0;
    width: 100%;
}

    #padre{
        background: transparent;
        border: solid 1px #aaa;
        border-radius: 5px; /* Borde redondeado del formulario */
        color: #454545;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        margin: 25% auto;
        padding: 20px; /* Espacio interno del formulario */
        text-align: center;
        width: 70vw; /* Ancho máximo del formulario */
        
    }

.btn{
    background-color: #358CB4;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 0.9em;
    margin: 10px;
    padding: 8px 5px;
    width: 60%;
}

