@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Poppins:wght@300;500&display=swap');


#recuperar_psw input{
    border: solid 1px #aaa;
        border-radius: 5px;
        font-family: 'Barlow', sans-serif;
        font-size: 14px;
        font-weight: 400;
        margin: 6px 0;
        padding: 10px 10px 10px 45px;
        position: relative;
        width: 100%;
        z-index: 2;
}

#recuperar_psw > i{
    border-radius: 10%;
    color: #358CB4;
    left: 3px;
    padding: 10px;
    position: absolute;
    transform: translateY(18%);
    z-index: 3;
    }


.btn{
    background-color: #358CB4;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 0.9em;
    margin: 10px;
    padding: 8px 17px;
    width: 60%;
    height: 15%;
}

.aclaracion{
    margin: 0;
    padding: 0;
    font-size: 15px;
    }
