@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Lato:wght@400;700&display=swap');
/* font-family: 'Barlow', sans-serif;
font-family: 'Lato', sans-serif; */

.modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.modal-content div {
    margin-bottom: 0px;
    
}


.btn_editar{
    background: none;
    border: 0;
}

    #registro_empleado{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

        #registro_empleado input{
            border: solid 1px #aaa;
            border-radius: 5px;
            font-family: 'Barlow', sans-serif;
            font-weight: 400;
            margin: 8px 0;
            padding: 10px 10px 10px 45px;
            position: relative;
            width: 100%;
            z-index: 2;
        }

    #campo_nac{
        display: flex;
        flex-direction: column;
        margin: 6px 0 8px 0;
    }
        
        #campo_nac > input{
            margin: 0;
            padding: 0.6em 15px;
        }
    

    #rol_empl{
        margin: 4px 0 3px 0;
    }

        #rol_empl select {
            border: solid 1px #aaa;
            border-radius: 5px;
            font-family: 'Barlow', sans-serif;
            font-weight: 400;
            margin: 0;
            padding: 0.6em 15px;
            position: relative;
            width: 100%;
            background: transparent;
        }


    #documento_empl{
        margin: 14px 0 0 0;
    }

    #contrasena_empl{
        margin: 14px 0 0 0;
    }

    
        
    
 
        



/*---------------------------CLASES----------------------------------*/

.campo_registro_empl{
    margin: 12px;
    position: relative;
    /* width: 100%; */
    flex-basis: 250px;
    }
    
    .campo_empleado > i{
    border-radius: 10%;
    color: #358CB4;
    left: 3px;
    padding: 10px;
    position: absolute;
    transform: translateY(18%);
    z-index: 3;
    }

.recuperar_psw > i{
    border-radius: 10%;
    color: #358CB4;
    left: 3px;
    padding: 10px;
    position: absolute;
    transform: translateY(35%);
    z-index: 3;
}

.letras{
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.btn_empl{
background-color: #358CB4;
border: none;
border-radius: 5px;
color: #fff;
font-size: 0.9em;
margin: 10px;
padding: 8px 17px;
width: 80%;
height: 15%;
}


 