@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Lato:wght@400;700&display=swap');
/* font-family: 'Barlow', sans-serif;
font-family: 'Lato', sans-serif; */



    #campo_registro{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

        #campo_registro input{
            border: solid 1px #aaa;
            border-radius: 5px;
            font-family: 'Barlow', sans-serif;
            font-weight: 400;
            margin: 6px 0;
            padding: 1.3em 1.3em 1.3em 45px;
            position: relative;
            width: 100%;
            z-index: 2;
        }

        #fecha_nac{
            display: flex;
            flex-direction: column;
            margin: 4px 0 6px 0;
        }

        #fecha_nac > input{
            margin: 0;
            padding: 0.6em 15px;
        }

        #rol{
            display: flex;
            flex-direction: column;
            margin: 5px 0 0 0;
        }
    
        #rol > select {
            border-radius: 5px;
            margin: 0;
            padding: 0.6em;
            border: solid 1px #aaa;
            background: transparent;
        }



/*---------------------------CLASES----------------------------------*/
.campos{
    margin: 12px;
    position: relative;
    /* width: 100%; */
    flex-basis: 250px;

}

.campo_icono > i{
    border-radius: 10%;
    color: #358CB4;
    left: 3px;
    padding: 10px;
    position: absolute;
    transform: translateY(35%);
    z-index: 3;
}

.aclaracion{
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.btn{
background-color: #358CB4;
border: none;
border-radius: 5px;
color: #fff;
font-size: 0.9em;
margin: 10px;
padding: 8px 17px;
width: 80%;
height: 15%;
}


