<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="/muestra_ventas_credito">Regresar</a>
    <br>
    <h1>Realizar un abono</h1>
    <br>
    <form action="/confirma_abono" method="post">

        <input type="hidden" name="contador" value="{{cont}}" required readonly >

        <input type="number" name="abono" required >

        <button type="submit">Realizar</button>
        
    </form>
    <br>
    <p>{{mensaje}}</p>
    
</body>
</html>