<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas a credito</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/muestra_ventas_credito.css">
</head>
<body>

    <main id="inicio">
        <section id="opciones">
            <h2>Ventas a credito</h2>

            <div id="buscar">
                <form action="Busca_productos" method="post" id="buscador">
                    <i class="lni lni-search-alt"></i>
                    <input type="search" placeholder="" name="buscar">
                </form>
            </div>
        </section>

        <section id="contenido">
            <table>
                <thead>
                    <tr id="tabla-productos">
                        <th> C.C cliente</th>
                        <th>Productos</th>
                        <th>Credito total</th>
                        <th>Credito restante</th>
                        <th>c.c operador</th>
                        <th>Fecha de venta</th>
                        <th>Historial de pagos</th>
                        <th>Registrar pago</th>
                        <th>Venta cancelada</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in resul %}
                        <tr>
                            
                            <td>{{result[1]}}</td>
                            <td>{{result[2]}}</td>
                            <td>{{result[3]}}</td>
                            <td>{{result[4]}}</td>
                            <td>{{result[5]}}</td>
                            <td>{{result[6]}}</td>
                            <td class="btns_centro">
                                <a href="/abono_credito_2/{{result[0]}}" >
                                    <i class="lni lni-stats-up"></i>
                                </a>
                            </td>

                            <td class="btns_centro">
                                <a href="/borra_produc/{{resul[0]}}">
                                    <i class="lni lni-dollar"></i>
                                </a>
                            </td>

                            <td class="btns_centro">
                                <a href="/cancela_venta_c/{{result[0]}}">
                                    <i class="lni lni-checkmark-circle"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <div id="regresar">
            <a href="{{url_for ('muestra_ventas') }}" class="campo_a">
                <i id="atras" class="lni lni-arrow-left"></i>
            </a>
        </div>
    </main>

</body>
</html>