<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas a credito</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/muestra_ventas_credito.css">
</head>
<body>


    <main id="cuerpo">

        <section id="section_1">
            <p>Historial de ventas</p>
        </section>


        <section id="section_2">

            <div id="conten_botones">
                <div id="conten_regresar">
                    <div id="isla_1">
                        <a href="{{url_for ('inicio') }}"><i id="boton_back" class="lni lni-home"></i></a>
                    </div>
                </div>
                <div id="conten_btn_navegacion">
                    <div id="isla_2">
                        <a class="botones" href="{{url_for('muestra_ventas')}}">Ventas normales</a>
                        <a class="botones"  href="{{url_for('verCrear_ventas')}}">Realizar ventas</a>
                    </div>
                </div>
            </div>

            <div id="conten_tabla">

                <div id="isla_3">
                    <section id="section_buscador_titulo">
                        
                        <div id="conten_titulo">
                            <p>Ventas a credito</p>
                        </div>
                        <form id="form_conten">
                            <i id="icono_busqueda" class="lni lni-search-alt"></i>
                            <input type="search" id="buscador_ventas" oninput="buscarVENTAS()" placeholder="">
                        </form>

                    </section>
                    <section id="section_tabla_info">
                        <div id="conten_t">
                            <table id="tablaVentas">
                                <thead>
                                    <tr>
                                        <th> C.C cliente</th>
                                        <th>Productos</th>
                                        <th>Credito total</th>
                                        <th>Credito restante</th>
                                        <th>c.c operador</th>
                                        <th>Fecha de venta</th>
                                        <th>Historial de pagos</th>
                                        <th>Registrar pago</th>
                                        <th>Venta cancelada</th>
                                    </tr>
                                </thead>
                            
                                <tbody>
                                    {% for result in resul %}
                                    <tr>
                                        {% for i in range(1, 7) %}
                                            {% if i == 3 %}
                                                <td class="clase1">$ {{result[i]}}</td>
                                            {% elif i == 4 %}
                                                <td class="clase1">$ {{result[i]}}</td>
                                            {% else %}
                                                <td>{{ result[i] }}</td>
                                            {% endif %}
                                        {% endfor %}
                                        <td class="btns_centro">
                                            <a href="/abono_credito_2/{{result[0]}}"><i id="icono_ver_mas" class="lni lni-stats-up"></i></a>
                                        </td>
                                        <td class="btns_centro">
                                            <a href="/borra_produc/{{resul[0]}}">
                                                <i id=icono_2 class="lni lni-dollar"></i>
                                            </a>
                                        </td>
            
                                        <td class="btns_centro">
                                            <a href="/cancela_venta_c/{{result[0]}}">
                                                <i id="icono_3" class="lni lni-checkmark-circle"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <p id="noResults" style="display: none;">No se encontraron resultados</p>
                            </table>
                        </div>
                    </section>

                </div>

            </div>

        </section>

    </main>
    <script src="/static/javaScript/buscadorVentas.js"></script>
</body>
</html>