<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles compras proveedores</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/css/compra_proveedores/detalles_compras/detalles_compra_proveedores.css">
</head>
<body>

    <main id="cuerpo">
        <section id="section-1">
            <p>Detalles de la compra</p>
        </section>
        <section id="section_2">
            <div id="conten_tabla">
                <div id="isla_3">

                    <table id="tabla_productos">
                        <thead>
                            <tr>
                                <th>numero compra</th>
                                <th>producto</th>
                                <th>Cantidad</th>
                                <th>Valor unidad</th>
                                <th>valor cantidad total</th>
                                <!-- <th>total a pagar</th> -->
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                    
                        <tbody>
                            {% for c in resul %}
                            <tr>
                                {% for i in range(0, 5) %}
                                    <td {% if i in [2, 3, 4] %} class="" {% endif %}>
                                        {% if c[i] is defined %}
                                            {% if i in [3, 4] %}
                                                $ {{ "{:,.0f}".format(c[i] | float) }}
                                            {% else %}
                                                {{ "{:,.0f}".format(c[i] | float) }}
                                            {% endif %}
                                        {% else %}
                                            {{ c[i] }}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                    
                    
                    <div id="regresar">
                        <a href="{{url_for ('muestra_compra_proved') }}" id="enlace_volver">
                                <i id="atras" class="lni lni-arrow-left"></i>
                            </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="../../static/javaScript/buscarCompras_prove.js"></script>
</body>
</html>