<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/home.css">
    <style>
        /* Agrega un estilo para ocultar las filas que no coincidan con la búsqueda */
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <main id="inicio">
        <section id="opciones">
            <div id="logo">
                <figure id="logo">
                    <img src="/static/image/parabrisas_logo.png" alt="">
                </figure>
            </div>

            <div id="nombre">
                <span id="usuario">Hola  {{session['nom_empleado']}}</span>
            </div>

            <div id="menu">
                <a href="">
                    <i class="lni lni-menu"></i>
                </a>
            </div>
        </section>

        <section id="buscar">
            <div id="buscador">
                <i class="lni lni-search-alt"></i>
                <input type="text" placeholder="parabrisas, manijas, alarmas, etc..." id="searchProduct">
            </div>
        </section>

        <section id="modulos">
            <a href="{{url_for('muestra_Productos')}}" class="campo_a">
                <div id="producto" class="modulos">
                    <figure><img src="/static/image/modulos/producto.png" alt=""></figure>
                    <p class="titulo">Productos</p>
                </div>
            </a>
            <a href="{{url_for('muestra_ventas')}}" class="campo_a">
                <div id="ventas" class="modulos">
                    <figure><img src="/static/image/modulos/ventas.png" alt=""></figure>
                    <p class="titulo">Ventas</p>
                </div>
            </a>
            <a href="{{url_for('Cotizacion')}}" class="campo_a">
                <div id="cotizaciones" class="modulos">
                    <figure><img src="/static/image/modulos/cotizaciones.png" alt=""></figure>
                    <p class="titulo">Cotizaciones</p>
                </div>
            </a>
            <a href="" class="campo_a">
                <div id="compras_proveedores" class="modulos">
                    <figure><img src="/static/image/modulos/compras_proveedores.png" alt=""></figure>
                    <p class="titulo">Compras a proveedores</p>
                </div>
            </a>
            <a href="" class="campo_a">
                <div id="devoluciones" class="modulos">
                    <figure><img src="/static/image/modulos/devoluciones.png" alt=""></figure>
                    <p class="titulo">Devoluciones</p>
                </div>
            </a>
            <a href="{{url_for('clientes')}}" class="campo_a">
                <div id="clientes" class="modulos">
                    <figure><img src="/static/image/modulos/clientes.png" alt=""></figure>
                    <p class="titulo">Clientes</p>
                </div>
                </a>
            <a href="muestra_empleados" class="campo_a">
                <div id="empleados" class="modulos">
                    <figure><img src="/static/image/modulos/empleados.png" alt=""></figure>
                    <p class="titulo">Empleados</p>
                </div>
            </a>
            <a href="" class="campo_a">
                <div id="administracion" class="modulos">
                    <figure><img src="/static/image/modulos/administracion.png" alt=""></figure>
                    <p class="titulo">Administración</p>
                </div>
            </a>
        </section>
    </main>

    <script src="/static/javaScript/bucadorInicio.js"></script>
</body>
</html>
