<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edita empleados | Administrador</title>
    <link rel="stylesheet" href="../../static/css/empleados/edita_empleados.css">
</head>
<body>
    <div id="editarEmpleadoModal" class="modal">
        <div class="modal-content" id="modalContent">
            <form action="/actualizar_Empleado" method="post" id="actualizar_empleado">

                    <div id="page_1" class="campos">
                        <div id="nombre" class="campo_icono">
                            <i class="lni lni-user"></i>
                            <input type="text" name="nom_empleado" id="nom_empleado" placeholder="Nombre" class="input_campo" value="{{resul[1]}}">
                        </div>
                        <div id="contacto" class="campo_icono">
                            <i class="lni lni-mobile"></i>
                            <input type="tel" name="contacto_empleado" id="contacto_empleado" placeholder="Contacto" class="input_campo" value="{{resul[4]}}">
                        </div>
                        <div id="fecha_nac" class="fecha_nac">
                            <label for="nacimiento" class="aclaracion">Fecha de nacimiento</label>
                            <input type="datetime" name="fecha_nacimiento" id="fecha_nacimiento_empleado" placeholder="Fecha de nacimiento" class="input_campo" value="{{resul[3]}}"> 
                        </div>
                        <div id="ciudad" class="campo_icono">
                            <label for="" class="aclaracion">Ciudad</label>
                            <select id="opt" name="ciudad_empleado" class="select">
                                <option value="{{resul[7]}}">{{resul[7]}}</option>
                                <option value="Buga">Buga</option>
                                <option value="Tulua">Tuluá</option>
                                <option value="Sonso">Sonso</option>
                                <option value="El Vinculo">El vínculo</option>
                                <option value="Guacari">Guacarí</option>
                                <option value="Cali">Cali</option>
                                <option value="Restrepo">Restrepo</option>
                            </select>
                        </div>
                        

                    </div>

                    <div id="page_2" class="campos">
                        <div id="apellido" class="campo_icono">
                            <input type="text" name="ape_empleado" id="ape_empleado" placeholder="Apellido" class="input_campo" value="{{resul[2]}}">
                        </div>
                        <div id="correo" class="campo_icono">
                            <i class="lni lni-envelope"></i>
                            <input type="email" name="email_empleado" id="email_empleado" placeholder="correo" class="input_campo" value="{{resul[5]}}">
                        </div>
                        <div id="documento" class="campo_icono">
                            <i class="lni lni-postcard"></i>
                            <input type="number" name="doc_empleado" id="doc_empleado" placeholder="Documento" class="input_campo" value="{{resul[0]}}">
                        </div>
                        <div id="direccion" class="campo_icono">
                            <i class="lni lni-map-marker"></i>
                            <input type="text" name="direccion_empleado" id="direccion_empleado" placeholder="dirección" class="input_campo" value="{{resul[6]}}">
                        </div>
                        
                    </div>
                    <!-- <div id="rol_edita_empleado">
                        <label for="" class="aclaracion">Rol</label>
                        <select name="rol"  class="select">
                            <option value="{{resul[8]}}">{{resul[8]}}</option>
                            <option value="administrador">Administrador</option>
                            <option value="vendedor">Vendedor</option>
                            <option value="almacenista">Almacenista</option>
                        </select>
                    </div> -->
                    <button type="submit" class="btn">Actualizar</button>
            </form>
        </div>
    </div>
</body>
</html>