<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edita empleados | Administrador</title>
    <link rel="stylesheet" href="../../static/css/empleados/edita_empleados.css">
</head>
<body>

    <main id="inicio">

        <section id="conten_titulo_1">
            <h2>Editar empleados</h2>
        </section>
        
        <form action="/actualizar_Empleado" method="post" id="conten_formulario_2">
            
            <div class="conten_FORM">

                <section id="lado_info_personal">


                    <div id="conten_titulo_div">
                        <p>Informacion personal</p>
                    </div>

                    <div id="conten_inputs_1">
                        <div class="campo_2">
                            <input type="number" name="doc_empleado" id="doc_empleado" placeholder="Documento" class="input_campo" value="{{resul[0]}}">
                            <label for="documento">Documento</label>
                        </div>
                        <div class="campo_2">
                            <input type="text" name="nom_empleado" id="nom_empleado" placeholder="Nombre" class="input_campo" value="{{resul[1]}}">
                            <label for="nombre">Nombre</label>
                        </div>
                        <div class="campo_2">
                            <input type="text" name="ape_empleado" id="ape_empleado" placeholder="Apellido" class="input_campo" value="{{resul[2]}}">
                        </div>
                        <div class="campo_2">
                            <input type="datetime" name="fecha_nacimiento" id="fecha_nacimiento_empleado" placeholder="Fecha de nacimiento" class="input_campo" value="{{resul[3]}}">
                            <label for="nacimiento">Fecha de nacimiento</label>
                        </div>
                    </div>

                </section>
                <section id="lado_info_contacto">
                    <div id="conten_titulo_div_2">
                        <p>Contacto</p>
                    </div>

                    <div class="campo-2">
                        <input type="tel" name="contacto_empleado" id="contacto_empleado" placeholder="Contacto" class="input_campo" value="{{resul[4]}}">
                        <label for="contacto">Teléfono</label>
                    </div>
                    <div class="campo-2">
                        <input type="email" name="email_empleado" id="email_empleado" placeholder="correo" class="input_campo" value="{{resul[5]}}">
                        <label for="email">Correo electrónico</label>
                    </div>
                    <div class="campo_2">
                        <input type="text" name="direccion_empleado" id="direccion_empleado" placeholder="dirección" class="input_campo" value="{{resul[6]}}">}
                        <label for="direccion">Dirección</label>
                    </div>
                    <div class="campo_2">
                        <select id="opt" name="ciudad_empleado" >
                            <option value="">Ciudad de residencia</option>
                            <option value="{{resul[7]}}">{{resul[7]}}</option>
                            <option value="Buga">Buga</option>
                            <option value="Tulua">Tuluá</option>
                            <option value="Sonso">Sonso</option>
                            <option value="El Vinculo">El vínculo</option>
                            <option value="Guacari">Guacarí</option>
                            <option value="Cali">Cali</option>
                            <option value="Restrepo">Restrepo</option>
                        </select>
                        <label for="ciudad">Ciudad</label>
                    </div>

                    <select name="rol" id="rol">
                        <option value="">Rol</option>
                        <option value="{{resul[8]}}">{{resul[8]}}</option>
                        <option value="administrador">Administrador</option>
                        <option value="vendedor">Vendedor</option>
                        <option value="almacenista">Almacenista</option>
                    </select>
                    <div id="boton-atras">
                        <button type="submit" class="boton-atras">Actualizar</button>
                    </div>
                </section>
            </div>
        </form>
        <div id="boton-atras">
            <a class="boton-atras" href="{{url_for('empleados')}}">Regresar</a>
        </div>
    </main>
    
</body>
</html>