<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleados</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/empleados/muestra_empleados.css">
</head>
<body>


    <main id="cuerpo">

        <section id="section_1">
            <p>Empleados</p>
        </section>


        <section id="section_2">

            <div id="conten_botones">
                <div id="conten_regresar">
                        <a href="{{url_for ('inicio') }}" id="isla_1">
                            <i id="boton_back" class="lni lni-home"></i>
                        </a>
                </div>
                <div id="conten_btn_navegacion">
                    <div id="isla_2">
                        <a class="botones" href="{{url_for('registroUsario')}}">Agregar empleado</a>
                    </div>
                </div>
            </div>

            <div id="conten_tabla">

                <div id="isla_3">
                    <section id="section_buscador_titulo">
                        
                        <div id="conten_titulo">
                            <p>Mis empleados</p>
                        </div>
                        <form id="form_conten">
                            <i id="icono_busqueda" class="lni lni-search-alt"></i>
                            <input type="search" id="searchClientes" oninput="buscarClientes()" placeholder="">
                        </form>

                    </section>
                    <section id="section_tabla_info">
                        <div id="conten_t">
                            <table id="TablaClientes">
                                <thead>
                                    <tr>
                                        <th>C.C. empleado</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Fecha de nacimiento</th>
                                        <th>Contacto</th>
                                        <th>Email</th>
                                        <th>Dirección</th>
                                        <th>Ciudad</th>
                                        <th>Rol</th>
                                        <th>Fecha de registro</th>
                                        <th>Nombre operador</th>
                                        <th>Apellido operador</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                            
                                <tbody>
                                    {% for c in resulta %}
                                    <tr>
                                        {% for i in range(0, 12) %}
                                            
                                            <td>{{ c[i] }}</td>
                                            
                                        {% endfor %}
                                        <td class="btns_centro">
                                            <a href="/editar_empleado/{{c[0]}}"><i id="icono_ver_mas" class="lni lni-pencil"></i></a>
                                        </td>
                                        <td class="btns_centro">
                                            <a onclick="return confirm('Seguro que deseas eliminar el producto?')" href="/borrarEmpleado/{{c[0]}}">
                                                <i id=icono_2 class="lni lni-trash-can"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <p id="noResults" style="display: none;">No se encontraron resultados</p>
                            </table>
                        </div>
                    </section>

                </div>

            </div>

        </section>

    </main>





















    <!-- <main id="inicio">
        <h2>Empleados</h2>
        <section id="opciones"> 
            <div class="opciones" id="agregar_usuario">
                <a class="color_opciones" href="{{url_for('registroUsario')}}">Registrar</a>
            </div>
            <div id="buscar">
                <form  id="buscador">
                    <i class="lni lni-search-alt"></i>
                    <input type="search" placeholder="Busca algun empleado" aria-label="Search" name="dato_busqueda" id="buscador" oninput="buscarEmpleados()">
                </form>
            </div>
        </section>
        <section id="contenido">
            <table  class="content-table" id="tabla_empleados">
                <thead >
                    <tr>
                        <th>doc_empleado</th>
                        <th>nombre</th>
                        <th>apellido</th>
                        <th>fecha de nacimiento</th>
                        <th>contacto</th>
                        <th>email</th>
                        <th>Direccion</th>
                        <th>ciudad</th>
                        <th>Rol</th>
                        <th>fecha de registro</th>
                        <th>Nombre operador</th>
                        <th>Apellido operador</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for resul in resulta %}
                        <tr> 
                            <td>{{resul[0]}}</td>
                            <td>{{resul[1]}}</td>
                            <td>{{resul[2]}}</td>
                            <td>{{resul[3]}}</td>
                            <td>{{resul[4]}}</td>
                            <td>{{resul[5]}}</td>
                            <td>{{resul[6]}}</td>
                            <td>{{resul[7]}}</td>
                            <td>{{resul[8]}}</td>
                            <td>{{resul[9]}}</td>
                            <td>{{resul[10]}}</td>
                            <td>{{resul[11]}}</td>
                            <td>
                                <a class="boton-editar" href="/editar_empleado/{{resul[0]}}">
                                    <i class="lni lni-pencil"></i>
                                </a>
                            </td>
                            <td>
                                <a class="boton-eliminar"  onclick="return confirm('Seguro que deseas eliminar el usuario ?')" href="/borrarEmpleado/{{resul[0]}}">
                                    <i class="lni lni-trash-can"></i></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <p id="noResults" style="display: none;">No se encontraron resultados</p>
            </table>
        </section>
        <div id="regresar">
            <a href="{{url_for ('inicio') }}">
                <i class="lni lni-arrow-left"></i>
            </a>
        </div> -->

        <script src="/static/javaScript/buscarClientes.js"></script>
    </main>
</body>
</html>