<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleados</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/muestra_empleados.css">
</head>
<body>
    <h1>Empleados</h1>

    <form action="Busca_empleados" method="post" id="conten_busqueda">
        <input type="search" placeholder="Busca algun empleado" aria-label="Search" name="dato_busqueda" id="buscador">
        <button type="submit"><i class="lni lni-search-alt"></i></button>
    </form>


    <table  class="content-table" id="tabla_empleados">
        <thead >
            <tr>
                <th>doc_empleado</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>fecha de nacimiento</th>
                <th>contacto</th>
                <th>email</th>
                <th>Direccion</th>
                <th>ciudad</th>
                <th>Rol</th>
                <!-- <th>fecha de registro</th> -->
                <th></th>
                <th></th>

            </tr>
        </thead>

        <tbody>
            {% for c in resul %}
            <tr>
                {% for i in range(0,9) %}
                    <td>{{c[i]}}</td>
                {% endfor %}
                    <td>
                        <a class="boton-editar" href="edita_empleados/{{c[0]}}">Editar</a>
                    </td>
                    <td>
                        <a class="boton-eliminar"  onclick="return confirm('Seguro que deseas eliminar el usuario administrador?')" href="elimina_empleados/{{c[0]}}"><i class="lni lni-cross-circle"></i>Eliminar</a>
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="boton-atras">
        <button class="boton-atras" onclick="window.location.href='/index'">Regresar al Home</button>
    </div>
</body>
</html>