<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleados</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/empleados/muestra_empleados.css">
    <link rel="stylesheet" href="../../static/css/registro/regristro.css">
    
</head>
<body>


    <main id="cuerpo">

        <section id="section_1">
            <p>Empleados</p>
        </section>


        <section id="section_2">

            <div id="conten_botones">
                <div id="conten_regresar">
                        <a href="{{url_for ('inicio') }}" id="isla_1">
                            <i id="boton_back" class="lni lni-home"></i>
                        </a>
                </div>
                <div id="conten_btn_navegacion">
                    <div id="isla_2">
                        <button class="botones"  id="abrirModalBtn">Agregar Empleado</button>
                    </div>
                </div>
                <div id="conten_btn_navegacion">
                    <div id="isla_2">
                        <button id="abrirRecuperar" class="botones" >Cambiar Contraseña</button>
                    </div>
                </div>
            </div>

            <div id="conten_tabla">

                <div id="isla_3">
                    <section id="section_buscador_titulo">
                        
                        <div id="conten_titulo">
                            <p>Mis empleados</p>
                        </div>
                        <form id="form_conten">
                            <i id="icono_busqueda" class="lni lni-search-alt"></i>
                            <input type="search" id="searchClientes" oninput="buscarClientes()" placeholder="">
                        </form>

                    </section>
                    <section id="section_tabla_info">
                        <div id="conten_t">
                            <table id="TablaClientes">
                                <thead>
                                    <tr>
                                        <th>C.C. empleado</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Fecha de nacimiento</th>
                                        <th>Contacto</th>
                                        <th>Email</th>
                                        <th>Dirección</th>
                                        <th>Ciudad</th>
                                        <th>Rol</th>
                                        <th>Fecha de registro</th>
                                        <th>Nombre operador</th>
                                        <th>Apellido operador</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                            
                                <tbody>
                                    {% for c in resulta %}
                                    <tr>
                                        {% for i in range(0, 12) %}
                                            
                                            <td>{{ c[i] }}</td>
                                            
                                        {% endfor %}
                                        <td class="btns_centro">
                                            <a href="/editar_empleado/{{c[0]}}"><i id="icono_ver_mas" class="lni lni-pencil"></i></a>
                                        </td>
                                        <td class="btns_centro">
                                            <a onclick="return confirm('Seguro que deseas eliminar el producto?')" href="/borrarEmpleado/{{c[0]}}">
                                                <i id=icono_2 class="lni lni-trash-can"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <p id="noResults" style="display: none;">No se encontraron resultados</p>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </section>


         <!-- Modal -->
        <div id="crearEmpleadoModal" class="modal" style="display: none;">
            <div class="modal-content">
                <form action="/registro" method="post" id="campo_registro">
                    <div id="pag_1" class="campos">
                        <div id="nombre" class="campo_icono">
                            <i class="lni lni-user"></i>
                            <input type="text" name="nombre" maxlength="25" minlength="2"
                            pattern="[a-zA-Z ]{2,25}" autocomplete="given-name" placeholder="Nombre (s)">
                        </div>
                        <div id="contacto" class="campo_icono">
                            <i class="lni lni-mobile"></i>
                            <input type="tel" name="contacto" inputmode="tel" pattern="[0-9]{10}" maxlength="10" minlength="10" placeholder="Celular">
                        </div>
                        <div id="fecha_nac" class="fecha_nac">
                            <label for="fechaNacimiento" class="aclaracion">Fecha de nacimiento</label>
                            <input type="date" name="nacimiento">
                        </div>
                        <div id="ciudad" class="campo_icono">
                            <i class="lni lni-home"></i>
                            <input type="text" name="ciudad" maxlength="14" minlength="2" pattern="[a-zA-Z]{2,14}" placeholder="Ciudad">
                        </div>
                        <div id="rol">
                            <label for="" class="aclaracion">Rol</label>
                            <select name="rol" id="rol">
                                <option value="administrador">Administrador</option>
                                <option value="almacenista">Almacenista</option>
                                <option value="vendedor">Vendedor</option>
                            </select>
                        </div>
                    </div>

                    <div id="pag_2" class="campos">
                        <div id="apellido" class="campo_icono">
                            <i></i>
                            <input type="text" name="apellido" maxlength="25" minlength="2"
                            pattern="[a-zA-Z ]{2,25}" autocomplete="family-name" placeholder="Apellido (s)">
                        </div>
                        <div id="correo" class="campo_icono">
                            <i class="lni lni-envelope"></i>
                            <input type="email" name="correo" inputmode="email" maxlength="56" placeholder="Correo">
                        </div>
                        <div id="documento" class="campo_icono">
                            <i class="lni lni-postcard"></i>
                            <input type="number" name="documento" pattern="[0-9]{10}" maxlength="10" minlength="6" autocomplete="off" placeholder="Cédula">
                        </div>
                        <div id="direccion" class="campo_icono">
                            <i class="lni lni-map-marker"></i>
                            <input type="text" name="direccion" maxlength="56" minlength="2" placeholder="Dirección">
                        </div>
                        <div id="Contraseña" class="campo_icono">
                            <i class="lni lni-key"></i>
                            <input type="password" name="contrasena" placeholder="Contraseña">
                        </div>
                    </div>
                    <button type="submit" class="btn">REGISTRAR</button>
                   
                </form>
            </div>
        </div>


        <div id="recuperarContradoModal" class="modal" style="display: none;">
            <div class="modal-content">
                <div class="contenedor_login">
                    <h3>Vamos a restablecer tu contraseña, </h3>
                    <form method="POST">
                        <label for="email"><span>Digita tu correo electrónico:</span>
                            <input type="email" name="email" id="email"  required>
                        </label>
                        <button type="submit">Recuperar</button>
                    </form>
                </div>
            </div>
        </div>
    

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="/static/javaScript/modalEmpleado.js"></script>
        <script src="/static/javaScript/buscarClientes.js"></script>
</body>
</html>