@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Lato:wght@400;700&display=swap');


#editarEmpleadoModal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


.modal-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}


.modal-content div {
    margin-bottom: 0px;
}


#campo_registro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    #campo_registro input{
        border: solid 1px #aaa;
        border-radius: 5px;
        font-family: 'Barlow', sans-serif;
        font-size: 14px;
        font-weight: 400;
        margin: 6px 0;
        padding: 10px 10px 10px 45px;
        position: relative;
        width: 100%;
        z-index: 2;
    }

/*---------------------------CLASES----------------------------------*/
.campos{
    margin: 12px;
    position: relative;
    /* width: 100%; */
    flex-basis: 250px;
    
    }
    
    .campo_icono > i{
    border-radius: 10%;
    color: #358CB4;
    left: 3px;
    padding: 10px;
    position: absolute;
    transform: translateY(18%);
    z-index: 3;
    }
    

.btn{
    background-color: #358CB4;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 0.9em;
    margin: 10px;
    padding: 8px 17px;
    width: 60%;
    height: 15%;
}
