@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Poppins:wght@300;500&display=swap');

*{
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    padding: 10px;
}

/* 
img{
    margin: 0 0 -4px;
    padding: 0;
    width: 100%;
} */


body,html{
    margin: 0;
    padding: 0;
}


form#formu_proveed {
    margin: 0;
    padding: 0;
 

}
.cont-campos {
    margin: 0;
    padding: 0;
}
.cont-campos  .campo {
    border-radius: 6px;
    background: #fff;
    padding: 12px;
    color: #222;
    }
/* div#img-parabri img {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: -25px;
    left: 10px;
} */
/* Fuentes */
body {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/* Contenedor principal */
#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}

/* Logo */


/* Formulario */
form#formu_proveed {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
    height: 100vh;
    padding: 0;
    margin: 5px;
    width: 120vh;
    text-align: center;
    z-index: 2;
}

/* Títulos */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Campos de entrada */
.cont-campos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.campo {
    width: calc(50% - 10px); /* Para que los campos de entrada se ajusten en filas de dos */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
}

/* Selector de tipo de persona */
.optiones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tipo_persona {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px;
    font-size: 16px;
}

/* Botón de guardar */
button[type="submit"] {
    background-color: #358CB4;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #111113;
}
/* Estilos para el botón "Regresar al Home" */
#boton-atras {
    margin-top: 20px;
    text-align: center;
}

.boton-atras {
    background-color: #83A7BF;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.boton-atras:hover {
    background-color: #358CB4;
}
.enlace{
    position: relative;
}
#regresar{
    margin: 10px;
    padding: 20px;
}