<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar productos</title>
   
</head>
<body>
    <main id="inicio">
        
        <form action="/modificar_Producto" method="post">
            <h2>Editar productos</h2>
                <div>

                        <label for="referencia_producto">Referencia</label>
                        <input type="text" name="referencia_producto" id="referencia_producto" placeholder="referencia producto" value="{{resul[0]}}">

                        <label for="categoria">Categoria</label>
                        <input type="number" name="categoria" id="categoria" placeholder="numero categoria" value="{{resul[1]}}">

                        <label for="nom_categoria">Nombre categoria</label>
                        <input type="text" name="nom_categoria" id="nom_categoria" placeholder="nombre categoria" value="{{resul[2]}}">

                        <label for="proveedor">Documento proveedor</label>
                        <input type="number" name="proveedor" id="proveedor" placeholder="documento proveedor" value="{{resul[3]}}">

                        <label for="nom_proveedor">Nombre proveedor</label>
                        <input type="text" name="nom_proveedor" id="nom_proveedor" placeholder="nombre proveedor" value="{{resul[4]}}">

                        <label for="nombre_producto">Nombre producto</label>
                        <input type="text" name="nombre_producto" id="nombre_producto"  value="{{resul[5]}}">

                        <label for="precio_compra">Precio compra</label>
                        <input type="number" name="precio_compra" id="precio_compra"  value="{{resul[6]}}">

                        <label for="precio_venta">Precio venta</label>
                        <input type="number" name="precio_venta" id="precio_venta"  value="{{resul[7]}}">

                        <label for="cantidad_producto">Cantidad total</label>
                        <input type="number" name="cantidad_producto" id="cantidad_producto"  value="{{resul[8]}}">

                        <label for="descripcion">Descripcion</label>
                        <input type="text" name="descripcion" id="descripcion"   value="{{resul[9]}}">

                        <label for="stockminimo">Cantidad minima</label>
                        <input type="number" name="stockminimo" id="stockminimo"  value="{{resul[10]}}">

                        <label for="ubicacion">Ubicacion</label>
                        <input type="text" name="ubicacion" id="ubicacion" value="{{resul[11]}}">

                        <label for="estante">Estante #</label>
                        <input type="text" name="estante" id="estante" placeholder="En estanteria" class="campo" value="{{resul[10]}}">
                </div>

                <div>
                    <button type="submit" >Guardar</button>
                </div>
                       
        </form>
        <div id="boton-atras">
            <a class="boton-atras" href="/muestra_productos">Regresar</a>
        </div>
    </main>
</body>
</html>