<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar cantidad</title>
    <link rel="stylesheet" href="../../static/css/productos/editar_cantidad_prod.css">
</head>
<body>
    <main>
        <div class="container-modal">
            <div class="content-modal">
                <form action="/modificar_Cantidad" method="post">
                    <!-- <label for="">Id producto</label> -->
                    <input type="hidden" name="id_producto" value="{{resul[0]}}">
                    <br>
                    <label for="ref_produ_1">Referencia 1: {{resul[1]}}</label>
                    <input type="hidden" name="ref_produ_1" value="{{resul[1]}}">
                    <br>
                    <label for="">Nombre producto: {{resul[2]}}</label>
                    <input type="hidden" name="nombre_producto" value="{{resul[2]}}">
                    <br>
                    <label for="">Cantidad</label>
                    <input type="number" name="cantidad_producto" id="cantidad_producto" value="">

                    <div class="botones">
                        <button type="submit" id="btn-agregar">Agregar</button>
                        <a href="#" onclick="cerrarModal()"><i class="lni lni-exit"></i></a>
                    </div>

                </form>
            </div>
        </div>
    </main>
    <script>
        // Función para cerrar el modal
        function cerrarModal() {
            var modalContenedor = window.parent.document.getElementById("modalContenedor");
            modalContenedor.style.display = "none";
        }
    </script>
</body>
</html>