<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro productos</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/registro_producto.css">
    
</head>
<body>
    <div>
        <h2>Productos</h2>
    </div>
    <main id="inicio">
       
        <form action="/crear_Producto" method="post" id="campo_registro">
                <div class="campos">
                    <div class="campo_icono">
                        <label for="ref_prod_1">Referencia 1:</label>
                        <input type="text" name="ref_prod_1" id="referencia_producto" placeholder="Referencia producto 1" class="campo">
                    </div>
                    <div>
                        <label for="ref_prod_2">Referencia 2:</label>
                        <input type="text" name="ref_prod_2" id="ref_prod_2" placeholder="Referencia producto 2" class="campo">
                    </div>
                    <div>
                        <label for="ref_prod_3">Referencia 3:</label>
                        <input type="text" name="ref_prod_3" id="ref_prod_3" placeholder="Referencia producto 3" class="campo">
                    </div>
                    <div>
                        <label for="proveedor">Proveedor:</label>
                        <select name="proveedor" id="proveedor">
                            {% for proveedor in proveedores %}
                                <option value="{{ proveedor[0] }}">{{ proveedor[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="categorias">Categoria</label>
                        <select name="categorias" id="categorias">
                            <option value="" disabled selected>Selecciona una categoria</option>
                            {% for categoria in categorias %}
                                <option value="{{ categoria[0] }}">{{ categoria[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="proveedor">Proveedor:</label>
                        <input type="text" name="nombre_producto" id="nombre_producto" placeholder="Nombre producto" class="campo">
                    </div>
                    <div>
                        <label for="precio_compra">Precio de entrada:</label>
                        <input type="number" name="precio_compra" id="precio_compra" placeholder="Precio entrada" class="campo">
                    </div>
                    <div>
                        <label for="precio_venta">Precio de venta:</label>
                        <input type="number" name="precio_venta" id="precio_venta" placeholder="Precio de venta" class="campo">
                    </div>
                    <div>
                        <label for="cantidad_producto">Cantidad:</label>
                        <input type="number" name="cantidad_producto" id="cantidad_producto" placeholder="Cantidad" class="campo">
                    </div>
                    <div>
                        <label for="descripcion">Descripción:</label>
                        <input type="text" name="descripcion" id="descripcion" placeholder="Descripción" class="campo">
                    </div>
                    <div>
                        <label for="stockminimo">Cantidad minima:</label>
                        <input type="number" name="stockminimo" id="stockminimo" placeholder="Cantidad minima" class="campo">
                    </div>
                    <div>
                        <select name="ubicacion" id="ubicacion">
                            <option selected>Ubicación</option>
                            <option value="Bodega">Bodega</option>
                            <option value="Estante">Estante</option>
                            <option value="Almacen">Almacen</option>
                        </select>
                    </div>
                    <div>
                        <label for="estante">Estante #:</label>
                        <input type="number" name="estante" id="estante" min="1" placeholder="Estante" class="campo" required>
                    </div>

                </div>
                <div class="campos">
                    <button type="submit" value="Registrar" id="btn-registro">Registrar producto</button>
                </div>
            </form>
            <div class="campos">
                <button class="boton-atras" onclick="window.location.href='/muestra_productos'" id="btn-atras">Regresar</button>
            </div>
    </main>
        
</body>
</html>