<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro productos</title>
    
</head>
<body>
    <div>
        <h2>Productos</h2>
    </div>
    <main id="inicio">
       
        <form action="/crear_Producto" method="post">
                <div class="campos">
                    <input type="text" name="referencia_producto" id="referencia_producto" placeholder="Referencia de producto" class="campo">


                    <label for="proveedor">Proveedor:</label>
                    <select name="proveedor" id="proveedor">
                        {% for proveedor in proveedores %}
                            <option value="{{ proveedor[0] }}">{{ proveedor[1] }}</option>
                        {% endfor %}
                    </select>
                
                <!-- <label for="categoria">Categoria</label> -->
                <select name="categorias" id="categorias">
                    <option value="" disabled selected>Selecciona una categoria</option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria[0] }}">{{ categoria[1] }}</option>
                    {% endfor %}
                </select>


                    

                    <input type="text" name="nombre_producto" id="nombre_producto" placeholder="Nombre producto" class="campo">
                    <input type="number" name="precio_compra" id="precio_compra" placeholder="Precio entrada" class="campo">

                    <input type="number" name="precio_venta" id="precio_venta" placeholder="Precio de venta" class="campo">
                    <input type="number" name="cantidad_producto" id="cantidad_producto" placeholder="Cantidad" class="campo">

                    <input type="text" name="descripcion" id="descripcion" placeholder="Descripción" class="campo">
                    <input type="number" name="stockminimo" id="stockminimo" placeholder="Cantidad minima" class="campo">

                 
                    <select name="ubicacion" id="ubicacion">
                        <option selected>Ubicación</option>
                        <option value="Bodega">Bodega</option>
                        <option value="Estante">Estante</option>
                        <option value="Almacen">Almacen</option>
                    </select>
                      
                    <input type="text" name="estante" id="estante" placeholder="Estante" class="campo">

                   
                </div>
                <div>
                    <button type="submit" value="Registrar">Registrar producto</button>
                </div>
            </form>
    </main>
        <div id="boton-atras">
            <button class="boton-atras" onclick="window.location.href='/muestra_productos'">Regresar</button>
        </div>
</body>
</html>