
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar categoria</title>
    <link rel="stylesheet" href="../../static/css/registrar_categorias.css">
</head>
<body>
    <main id="inicio">
        <form action="/registrar_categorias" method="post" id="formu_categoria">
            <h2>Registrar categoria</h2>
                <div class="cont-campos">
                    <input type="text" name="nom_categoria" id="nombre" placeholder="Categoria" class="campo">
                </div>
                <div>
                    <button type="submit">Guardar</button>
                </div>
        </form>
        <div id="boton-atras">
            <button class="boton-atras" onclick="window.location.href='/index'">Regresar  al Home</button>
        </div>
    </main>
</body>
</html>