
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar categoria</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/categoria/registrar_categorias.css">
</head>
<body>

        <main id="inicio">

            <section id="conten_titulo_1">

                <h2>Registrar categoría</h2>

            </section>

            <form action="/registrar_categorias" method="post" id="conten_formulario_2">

                <div id="conten_FORM">

                

                    <section id="lado_info_personal">

                        <div id="conten_titulo_div">
                            <p>Nombre de la categoría</p>
                        </div>


                        <div id="conten_inputs_1">
                            


                            <div class="campo_2">
                                <input type="text" name="nom_categoria" id="nombre" class="input_campo" >
                                <label id="label_nombre" for="nombre">Categoria</label>
                            </div>

                        </div>
                        
                    </section>

                    <section id="lado_info_contacto">

                        <div id="conten_titulo_div_2">
                            <p> </p>
                        </div>

                        <div id="content_inputs_2">


                            <p class="icono_listo"><i class="lni lni-tag"></i></p>
                            

                        </div>


                    </section>


                </div>
                <div id="conten_buttons">
                    <div class="conten_buttons_2">
                        <a href="/categorias" id="enlace_regresar">Volver</a>
                    </div>
                    <div class="conten_buttons_2">
                        <button type="submit" id="boton_registrar" onclick="animacion_envio()" >Finalizar</button>
                    </div>
                </div>


            </form>





        </main>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="../../static/javaScript/animacion_envio_rigistra_categoria.js"></script>



















<!--     <main id="inicio">
        <form action="/registrar_categorias" method="post" id="formu_categoria">
            <h2>Registrar categoria</h2>
                <div class="cont-campos">
                    <input type="text" name="nom_categoria" id="nombre" placeholder="Categoria" class="campo">
                </div>
                <div>
                    <button type="submit">Guardar</button>
                </div>
        </form>
        <div id="boton-atras">
            <button class="boton-atras" onclick="window.location.href='/index'">Regresar  al Home</button>
        </div>
    </main> -->
</body>
</html>