@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Lato:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body, html{
    margin: 0;
    padding: 0;
}

body{
    background: #efefef;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

/* Estilos para el modal */
#modalContenedor {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

/* Estilos para los botones */
.container-modal .content-modal .botones {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse !important; /* Invierte el orden de los elementos */
    margin-top: 20px;
}


.container-modal .content-modal #btn-agregar {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container-modal .content-modal #btn-agregar:hover {
    background-color: #45a049;
}

.container-modal .content-modal a {
    color: #333;
    font-size: 20px;
    text-decoration: none;
}

/* Estilos específicos para pantallas más pequeñas (ej. dispositivos móviles) */
@media  screen and (max-width: 600px) {
    #modalContenedor {
        width: 60%; /* Ajusta según sea necesario para pantallas más pequeñas */

    }
}