<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar proveedores | vista del administrador</title>
    <link rel="stylesheet" href="../../static/css/proveedores/actualizar_proveedores.css">
    
</head>
<body>
    
    <div id="editarProveedorModal" class="modal">
        <div class="modal-content" id="modalContent">
            <form action="/actializarProveed" method="post" id="formu_provee_modifi">
                    <input type="number" name="documentoProveedor" id="documentoProvedor" value="{{resul[0]}}" class="campo">
                    <input type="text" name="nombreProveedor" id="nombreProveedor" value="{{resul[1]}}" class="campo"> 
                    <input type="number" name="numeroProveedores" id="numeroProveedores" value="{{resul[2]}}" class="campo">
                    <input type="email" name="correoProveedores" id="correoProveedores" value="{{resul[3]}}" class="campo">
                    <input type="text" name="direccionProveedores" id="direccionProveedores" value="{{resul[4]}}" class="campo">
                    <input type="text" name="ciudadProveedor" id="ciudadProveedor" value="{{resul[5]}}" class="campo">
                    
                
                    <input type="submit" value="Actualizar" class="boton-atras">
            </form>
        </div>
    </div>
</body>
</html>