<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar proveedores | vista del administrador</title>
    <link rel="stylesheet" href="../../static/css/proveedores/actualizar_proveedores.css">
    
</head>
<body>
    <main id="inicio">
        <div id="img-parabri">
            <img src="../../static/img/logo_parabrisas_delvalle_PNG_sinFondo.png" alt="logo-fondo-parabrisas-sin-fondo" id="logo">
        </div>
        
        <form action="/actializarProveed" method="post" id="formu_provee_modifi">
            <h2>Actualizar proveedores</h2>
            <div class="cont-campos">

                <input type="number" name="documentoProveedor" id="documentoProvedor" value="{{resul[0]}}" class="campo">
                <input type="text" name="nombreProveedor" id="nombreProveedor" value="{{resul[1]}}" class="campo"> 
                <input type="number" name="numeroProveedores" id="numeroProveedores" value="{{resul[2]}}" class="campo">
                <input type="email" name="correoProveedores" id="correoProveedores" value="{{resul[3]}}" class="campo">
                <input type="text" name="direccionProveedores" id="direccionProveedores" value="{{resul[4]}}" class="campo">
                <input type="text" name="ciudadProveedor" id="ciudadProveedor" value="{{resul[5]}}" class="campo">
                
            </div>
            <div id="boton-atras">
                <input type="submit" value="Actualizar" class="boton-atras">
            </div>
        </form>
        <div id="boton-atras">
            <a class="boton-atras" href="/proveedores">Regresar</a>
        </div>
    </main>
</body>
</html>