<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario proveedores</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/proveedores/crear_proveedores.css">
</head>
<body>

    <main id="inicio">
        <section id="content_titulo-1">
            <div id="content_titulo_lado_1">
                <h2>CREAR PROVEEDORES</h2>
            </div>
        </section>
            <form action="/crearProveedores" method="post" id="conten_formulario_2">
                <div class="campos">
                    <input type="number" name="documentoProveedor" id="documentoProvedor" placeholder="Ingresar documento" class="campo">
                    <input type="text" name="nombreProveedor" id="nombreProveedor" placeholder="Ingresar nombre" class="campo">
                    <input type="number" name="numeroProveedores" id="numeroProveedores" placeholder="Ingresar numero telefonico" class="campo">
                    <input type="email" name="correoProveedores" id="correoProveedores" placeholder="Ingresa correo electronico" class="campo">
                    <input type="text" name="direccionProveedores" id="direccionProveedores" placeholder="Ingresar dirrecion" class="campo">
                    <input type="text" name="ciudadProveedor" id="ciudadProveedor" placeholder="Ingresar ciudad " class="campo">
                </div>
                <div id="boton-atras">
                <input type="submit" value="Registrar" class="boton-atras">
                </div>
            </form>
            <div id="regresar">
                <a href="{{url_for ('proveedores') }}" id="enlace_volver">
                    <i id="atras" class="lni lni-arrow-left"></i>
                </a>
            </div>
    </main>
    
</body>
</html>