<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proveedores</title>
    <link rel="stylesheet" href="../../static/css/muestra_proveedores.css">
</head>
<body>
    
    <h1>Proveedores</h1>
    <a class="crear-prov" href="{{url_for('buscarProvedores')}}">Buscar Proveedores</a>
    <div id="crear-prov">
    <a class="crear-prov" href="{{url_for('proveedoress')}}">Crear Proveedores</a>
    </div>
    <div>
        <a class="crear-prov1" href="{{url_for('muestra_compra_proved')}}">Compras</a>
    </div>
    <br>

    <table class="content-table" id="tabla_productos">
        <thead >
            <tr>
                <th>Documento proveedor</th>
                <th>Nombre proveedor</th>
                <th>Contacto proveedor</th>
                <th>Correo electrónico</th>
                <th>Dirección proveedor</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for c in resul %}
                <tr>
                    {% for i in range(0,5) %}

                        <td>{{c[i]}}</td>

                    {% endfor %}

                        <td>
                            <a class="boton-editar" href="/muestra_info_prov/{{c[0]}}">Editar</a>
                        </td>

                        <td>
                            <a class="boton-eliminar"  onclick="return confirm('Seguro que deseas eliminar el producto?')" href="/borraprovee/{{c[0]}}">Eliminar</a>
                        </td>

                </tr>
            {% endfor %} 
        </tbody>
    </table>

    <div id="boton-atras">
        <button class="boton-atras" onclick="window.location.href='/index'">Regresar al Home</button>
    </div>
</body>
</html>