<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proveedores</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/proveedores/muestra_proveedores.css">
    <link rel="stylesheet" href="../../static/css/proveedores/crear_proveedores.css">
    <link rel="stylesheet" href="../../static/css/proveedores/crear_proveedores.css">
</head>
<body>

    <main id="cuerpo">

        <section id="section_1">
            <p>Proveedores</p>
        </section>


        <section id="section_2">

            <div id="conten_botones">
                <div id="conten_regresar">
                    <a href="{{url_for ('inicio') }}" id="isla_1">
                        <i id="boton_back" class="lni lni-home"></i>
                    </a>
                </div>
                <div id="conten_btn_navegacion">
                    <div id="isla_2">
                        <a class="botones"  href="{{url_for('muestra_compra_proved')}}">Compras a proveedores</a>
                        <button class="botones" id="abrirModalBtn">Crear proveedor</button>
                    </div>
                </div>
            </div>

            <div id="conten_tabla">

                <div id="isla_3">
                    <section id="section_buscador_titulo">
                        
                        <div id="conten_titulo">
                            <p>Mis proveedores</p>
                        </div>
                        <form id="form_conten">
                            <i id="icono_busqueda" class="lni lni-search-alt"></i>
                            <input type="search" id="buscador_ventas" oninput="buscarVENTAS()" placeholder="">
                        </form>

                    </section>
                    <section id="section_tabla_info">
                        <div id="conten_t">
                            <table id="tablaVentas">
                                <thead>
                                    <tr>
                                        <th>C.C./NIT proveedor</th>
                                        <th>Nombre</th>
                                        <th>Contacto</th>
                                        <th>Correo electrónico</th>
                                        <th>Dirección</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                            
                                <tbody>
                                    {% for c in resul %}
                                    <tr>
                                        {% for i in range(0, 5) %}
                                            
                                            <td>{{ c[i] }}</td>
                                            
                                        {% endfor %}
                                        <td class="btns_centro">
                                            <a href="/actializarProveedor/{{c[0]}}"><i id="icono_ver_mas" class="lni lni-pencil"></i></a>
                                        </td>
                                        <td class="btns_centro">
                                            <a onclick="return confirm('Seguro que deseas eliminar el producto?')" href="/borraProveedor/{{c[0]}}">
                                                <i id=icono_2 class="lni lni-trash-can"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <p id="noResults" style="display: none;">No se encontraron resultados</p>
                            </table>
                        </div>
                    </section>

                </div>

            </div>

        </section>

    </main>


    <div id="crearProveedorModal" class="modal" style="display: none;">
        <div class="modal-content">
            <form action="/crearProveedores" method="post" id="conten_formulario_2">
                <div id="pag_1" class="campos">
                    <div id="nombre" class="campo_icono">
                        <i class="lni lni-user"></i>
                        <input type="text" name="nombre" maxlength="25" minlength="2"
                        pattern="[a-zA-Z ]{2,25}" autocomplete="given-name" placeholder="Nombre">
                    </div>
                    <div id="contacto" class="campo_icono">
                        <i class="lni lni-mobile"></i>
                        <input type="tel" name="contacto" inputmode="tel" pattern="[0-9]{10}" maxlength="10" minlength="10" placeholder="Celular">
                    </div>
                    <div id="ciudad" class="campo_icono">
                        <i class="lni lni-home"></i>
                        <input type="text" name="ciudad" maxlength="14" minlength="2" pattern="[a-zA-Z]{2,14}" placeholder="Ciudad">
                    </div>
                </div>
                <div id="pag_2" class="campos">
                    <div id="documento" class="campo_icono">
                        <i class="lni lni-postcard"></i>
                        <input type="number" name="documento" pattern="[0-9]{10}" maxlength="10" minlength="6" autocomplete="off" placeholder="Documento">
                    </div>
                    <div id="correo" class="campo_icono">
                        <i class="lni lni-envelope"></i>
                        <input type="email" name="correo" inputmode="email" maxlength="56" placeholder="Correo">
                    </div>
                    <div id="direccion" class="campo_icono">
                        <i class="lni lni-map-marker"></i>
                        <input type="text" name="direccion" maxlength="56" minlength="2" placeholder="Dirección">
                    </div>
                </div>
                <button type="submit" class="btn" value="Registrar">REGISTRAR</button>
            </form>
        </div>
    </div>






                    

                <!-- <div class="campos">
                    <input type="number" name="documentoProveedor" id="documentoProvedor" placeholder="Ingresar documento" class="campo">
                    <input type="text" name="nombreProveedor" id="nombreProveedor" placeholder="Ingresar nombre" class="campo">
                    <input type="number" name="numeroProveedores" id="numeroProveedores" placeholder="Ingresar numero telefonico" class="campo">
                    <input type="email" name="correoProveedores" id="correoProveedores" placeholder="Ingresa correo electronico" class="campo">
                    <input type="text" name="direccionProveedores" id="direccionProveedores" placeholder="Ingresar dirrecion" class="campo">
                    <input type="text" name="ciudadProveedor" id="ciudadProveedor" placeholder="Ingresar ciudad " class="campo">
                </div>
                <div id="boton-atras">
                <input type="submit" value="Registrar" class="boton-atras">
                </div>
            </form>
        </div>
    </div> -->

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/static/javaScript/modalProveedor.js"></script>
    <script src="/static/javaScript/buscadorVentas.js"></script>
    
</body>
</html>