@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Lato:wght@400;700&display=swap');

        * {
            box-sizing: border-box;
            transition: all 0.3s ease-in-out;
        }

        body,
        html {
            margin: 0;
            padding: 0;
            font-family: 'Barlow', sans-serif;
            font-size: 18px;
            font-weight: 300;
        }

        h2 {
            color: #454545;
            font-size: 1.5em;
            font-weight: 500;
            margin: 20px;
            padding: 0;
        }

        form {
            margin: 20px;
        }

        label {
            display: block;
            margin-bottom: 10px;
            color: #454545;
        }

        input[type="date"],
        select {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #828282;
            border-radius: 5px;
            font-family: 'Barlow', sans-serif;
            font-size: 15px;
            font-weight: 400;
        }

        select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: url('data:image/svg+xml;utf8,<svg fill="%23454545" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') no-repeat right 10px center/10px 10px;
        }

        .campos {
            margin-bottom: 20px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            font-size: 15px;
            margin-bottom: 20px;
        }

        th,
        td {
            border: solid 1px #828282;
            padding: 8px;
            text-align: left;
        }

        th {
            color: #358CB4;
            font-weight: 500;
            text-align: center;
        }

        .select-button {
            background-color: #358CB4;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 8px 12px;
            cursor: pointer;
        }

        button[type="submit"] {
            background-color: #358CB4;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 12px;
            cursor: pointer;
            font-family: 'Barlow', sans-serif;
            font-size: 15px;
            font-weight: 500;
            width: 100%;
            transition: background-color 0.3s ease;
        }

        button[type="submit"]:hover {
            background-color: #57A8CE;
        }
