@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Lato:wght@400;700&display=swap');
/* font-family: 'Barlow', sans-serif;
font-family: 'Lato', sans-serif; */
*{
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body, html{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

figure{
    margin: 0;
    padding: 0;
}

figure img{
    margin: 0;
    width: 100%;
}


section#contenido{
    margin: 20px;
}

    table{
        border-collapse: collapse;
        width: 100%;

    }

        th, td{
            border: solid 1px #828282;
            font-size: 15px;
            padding: 5px; 
        }

        th{
            color: #358CB4;
            font-weight: 500;
            text-align: center;
        }

        td{
            text-align: left;
        }