@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Lato:wght@400;700&display=swap');
/* font-family: 'Barlow', sans-serif;
font-family: 'Lato', sans-serif; */
*{
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body, html{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

figure{
    margin: 0;
    padding: 0;
}

figure img{
    margin: 0;
    width: 100%;
}



main#inicio{
    margin: 0;
    min-height: 100vh;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
} 
    section#section_sombra {
        position: absolute;
        display: none;
        background-color: rgba(36, 36, 36, 0.0);
        /* background-color: rgba(36, 36, 36, 0.6); */
        width: 100%;
        height: 100%;
        z-index: 2;
    }
        section#conten_desplegable {
            position: absolute;
            background-color: #ffffff;
            width: 15%;
            height: 50%;
            /* left: 85%; */
            left: 100%;
            z-index: 3;
            border-bottom-left-radius: 1.6em;
            

        }
            div#conten_logo_user {
                width: 100%;
                height: 60%;
                display: flex;
                flex-direction: column;
                align-items: center;
                
            }
                div#conten_logo_user figure#conten_icono_u {
                    width: 100%;
                    height: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    justify-content: center;
                    margin-top: 10%;
                    opacity: 0;
                }
                    img#icono_user {
                        width: 40%;
                    }
                div#conten_logo_user div#conten_nombre_2 {
                    width: 80%;
                    height: 30%;
                    border-bottom: 0.5px solid #dfdede;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.3em;
                    font-weight: 500;
                    opacity: 0;
                    text-transform: capitalize;
                }
            div#conten_info_cuerpo {
                width: 100%;
                height: 40%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
            }
                section#lado_1 {
                    width: 70%;
                    height: 50%;
                    border-bottom: 0.5px solid #dfdede;
                    display: flex;
                    justify-content: center;
                    font-size: 1.1em;
                    opacity: 0;
                    text-transform: capitalize;
                }
                section#lado_2 {
                    width: 70%;
                    height: 50%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    position: relative;
                    opacity: 0;
                }
                    section#lado_2 a#enlace_exit {
                        text-decoration: none;
                    }
                    /* section#lado_2 i#icono_cerrar_session {
                        color: #595959;
                    } */
                    div#conten_btn_cerrar {
                        position: absolute;
                        width: 130%;
                        height: 70%;
                        background-color: #ffffff;
                        bottom: -100%;
                        left: 140%;
                        border-radius: 1.6em;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                        div#conten_btn_cerrar i{
                            font-size: 1.5em;
                        }





                        

    section#opciones{
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%; 
        height: 14%;
        display: flex;
        /* height: 10vh; */
    }

        div#logo{
            flex-basis: 50%;
            width: 50%;
            height: 100%;
        }

            div#logo figure#logo{
                margin: 10px;
                padding: 0;
                width: 70%;
            }

        div#nombre{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 50%;
            height: 100%;
        }
            div#conten_nombre {
                width: 20%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #595959;
            }

                #conten_nombre span{
                    margin: 0;
                    font-weight: 500;
                    font-size: 1.4em;
                }

                #conten_nombre p{
                    margin-bottom: 15px;
                    margin: 0;
                    font-size: 1.5em;
                    font-weight: 500;
                    text-transform: capitalize;
                }

            div#conten_menu {
                width: 10%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            


section#buscar{
    margin: 30px 20px;
}

    #buscador > i{
            border-radius: 10%;
            color: #358CB4;
            padding: 7px;
            position: absolute;
            z-index: 3;
        }

        #buscador > input{
            border: solid 1px #828282;
            border-radius: 5px;
            font-family: 'Barlow', sans-serif;
            font-size: 15px;
            font-weight: 400;
            margin: 0;
            padding: 0.8em 0.8em 1em 45px;
            position: relative;
            width: 100%;
            z-index: 2;
        }

section#modulos{
    gap: 20px;
    padding: 0 20px; 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3em auto 0 auto;
    width: clamp(320px, 92%, 1024px);
}

    #modulos figure{
        margin: 0;
        padding: 15px;
    }

    #modulos p{
        font-size: 1.2em;
        font-weight: 400;
    } 
    

/* ------------------Clases------------------- */

.lni{
    font-size: 2em;
    color: #358CB4;
}

.modulos{
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    width: 70%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    font-family: 'Barlow', sans-serif;
    color: #454545;
    padding: 10px;
    margin: 10px;
}

.campo_a{
    text-decoration: none;
    background-color: #f5f5f5;
    border-radius: 5px;
    flex-basis: 250px;
    margin-bottom: 2em;
}


/*---------------------------------REPONSIVE----------------------------------*/

@media screen and (min-width: 700px){
    body{
        font-size: 16px;
    }
    
    div#logo figure#logo{
        width: 200px;

    }   
}


@media screen and (min-width:1000px){
    body{
        font-size: 16px;
    }
    div#logo figure#logo{
        width: 200px;

    }   
}

@media screen and (max-width: 700px) {
    div#conten_nombre {
        width: 70%;
    }
    div#conten_menu {
        width: 30%;
    }
}



/* ---------------- estilo barra lateral scroll------------------ */


                        /* estilos croll */
                        ::-webkit-scrollbar {
                            width: 15px;
                        }
                        
                        ::-webkit-scrollbar-track {
                            background-color: #f1f1f1;
                        }
                        
                        ::-webkit-scrollbar-thumb {
                            background-color: #A8A8A8;
                            border-radius: 10px;
                        }
                        
                        ::-webkit-scrollbar-thumb:hover {
                            background-color: #358cb47b;
                        }