@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Lato:wght@400;700&display=swap');
/* font-family: 'Barlow', sans-serif;
font-family: 'Lato', sans-serif; */
*{
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body, html{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

figure{
    margin: 0;
    padding: 0;
}

figure img{
    margin: 0;
    width: 100%;
}



main#inicio{
    margin: 0;
    min-height: 100vh;
    padding: 0;
    position: relative;
    width: 100%;
} 

    section#opciones{
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%; 
        display: flex;
        /* height: 10vh; */
    }

        div#logo{
            flex-basis: 50%;
        }

            div#logo figure#logo{
                margin: 10px;
                padding: 0;
                width: 70%;
            }

        div#nombre{
            display: flex;
            justify-content: flex-end;
            flex-basis: 50%;
            
        }

            div#nombre #usuario{
                color: #595959;
                font-size: 1.8em;
                font-weight: 500;
                padding: 20px;
                align-items: center;
                display: flex;
            }

        div#menu{
            display: flex;
            justify-content: flex-end;
            margin: 8px;
            padding: 8px;
        }

section#buscar{
    margin: 30px 20px;
}

    #buscador > i{
            border-radius: 10%;
            color: #358CB4;
            padding: 7px;
            position: absolute;
            z-index: 3;
        }

        #buscador > input{
            border: solid 1px #828282;
            border-radius: 5px;
            font-family: 'Barlow', sans-serif;
            font-size: 15px;
            font-weight: 400;
            margin: 0;
            padding: 0.8em 0.8em 1em 45px;
            position: relative;
            width: 100%;
            z-index: 2;
        }

section#modulos{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    gap: 20px;
    padding: 0 20px; 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

    #modulos figure{
        margin: 0;
        padding: 15px;
    }

    #modulos p{
        font-size: 1.2em;
        font-weight: 400;
    } 
    

/* ------------------Clases------------------- */

.lni{
    font-size: 2em;
    color: #358CB4;
}

.modulos{
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    width: 70%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    font-family: 'Barlow', sans-serif;
    color: #454545;
    margin: 5px;
}

.campo_a{
    text-decoration: none;
    background-color: #f5f5f5;
    border-radius: 5px;
    flex-basis: 250px;
    margin-bottom: 2em;
}


/*---------------------------------REPONSIVE----------------------------------*/

@media screen and (min-width: 700px){
    body{
        font-size: 16px;
    }
    
    div#logo figure#logo{
        width: 200px;

    }   
}


@media screen and (min-width:1000px){
    body{
        font-size: 16px;
    }
    div#logo figure#logo{
        width: 200px;

    }   
}



/* ---------------- estilo barra lateral scroll------------------ */


                        /* estilos croll */
                        ::-webkit-scrollbar {
                            width: 15px;
                        }
                        
                        ::-webkit-scrollbar-track {
                            background-color: #f1f1f1;
                        }
                        
                        ::-webkit-scrollbar-thumb {
                            background-color: #A8A8A8;
                            border-radius: 10px;
                        }
                        
                        ::-webkit-scrollbar-thumb:hover {
                            background-color: #358cb47b;
                        }