@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Lato:wght@400;700&display=swap');
/* font-family: 'Barlow', sans-serif;
font-family: 'Lato', sans-serif; */
*{
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body, html{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

figure img{
    margin: 0;
    width: 100%;
}

main#inicio{
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}


    div#logo{
        display: grid;
        height: 30vh;
        place-items: center;
        position: relative;
        width: 100%;
        z-index: 1;
    }

        #logo figure{
            width: 220px;
        }


    div#info{
        /* height: 66vh; */
        left: 0;
        padding: 2em;
        width: 100%;
        z-index: 2;
    }

    #info #campo_entrar{
            align-items: center;       
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        #campo_entrar input{
            border: solid 1px #aaa;
            border-radius: 5px;
            font-family: 'Barlow', sans-serif;
            font-weight: 400;
            margin: 0;
            padding: 1.3em 1.3em 1.3em 42px;
            position: relative;
            width: 100%;
            z-index: 2;
        }


div #entrar{
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 15px 0 0 0;
    padding: 0;
    width: 100%;
}

    #entrar #huella{
        margin: 0;
        width: 30px;
    }
        
    #entrar i{
        position: relative;
        color: #fff;
        border-radius: 10%;
        padding: 7px;
        top: 50%;
        margin: 0 20px 0 0;
        font-size: 25px;
    }
        
/*---------------------------CLASES----------------------------------*/
.logo{
    margin: 0;
    padding: 0;
}
.campos{
    margin: 12px;
    position: relative;
    width: 80%;

}
        .campos > i{
            border-radius: 10%;
            color: #358CB4;
            left: 7px;
            padding: 7px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 3;
}

.btn{
    border: none;
    border-radius: 24px;
    font-size: 0.9em;
    padding: 8px 17px;
    width: 50%;
}
.fondo-color{
    background-color: #358CB4;
}

.color-blanco{
    color: #fff;
}

.firma{
    color: #bbb;
    font-size: 10px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    bottom: 0;
}



/*---------------------------------REPONSIVE----------------------------------*/

@media screen and (min-width: 700px){
    body {
        font-size: 21px;
    }

    #logo figure{
        width: 300px;
    }

    #campo_entrar input{
        font-size: 21px;
        padding: 1em 1em 1em 42px;
    }

    #entrar #huella{
        width: 40px;
    }

    .btn{
        padding: 10px 17px;
    }
} 

@media screen and (min-width:1000px){
    main#inicio{
        display: grid;
        place-items: center;
    }
    div#contenedor{
        position: relative;
        width: 70%;
        display: flex;
        align-items: stretch;
    }
    
    div#logo{
        display: flex;
        flex-basis: 30%;
        

    }

    div#info{
        flex-basis: 70%;
    }
}