@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Lato:wght@400;700&display=swap');
/* font-family: 'Barlow', sans-serif;
font-family: 'Lato', sans-serif; */
*{
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body, html{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

figure{
    margin: 0;
    padding: 0;
}

figure img{
    margin: 0;
    width: 100%;
}



main#inicio{
    margin: 0;
    min-height: 100vh;
    padding: 0;
    position: relative;
    width: 100%;
} 

h2{
    color: #454545;
    font-size: 1.5em;
    font-weight: 500;
    margin: 20px;
    padding: 0;
}





section#contenido{
    margin: 20px;
}
    
    table{
        border-collapse: collapse;
        width: 100%;
        font-size: 15px;
    }
        
        th, td{
            border: solid 1px #828282;
            padding: 5px; 
        }
    
        th{
            color: #358CB4;
            font-weight: 500;
            text-align: center;
        }
    
        td{
            text-align: left;
        }
div#regresar{
    border: none;
    border-radius: 3px;  
    font-size: 1em;
    left: 1em;
    margin: 8px;
    padding: 5px;
    position: relative;
    width: 8%;
}

    #atras{
        font-size: 2em;
        color: #52a1bb;
        }


div#buscar{
    margin: 30px 20px;
}
    #buscador > i{
        border-radius: 10%;
        color: #358CB4;
        padding: 7px;
        position: absolute;
        z-index: 3;
    }

    #buscador > input{
        border: solid 1px #828282;
        border-radius: 5px;
        font-family: 'Barlow', sans-serif;
        font-size: 15px;
        font-weight: 400;
        margin: 0;
        padding: 0.8em 0.8em 1em 45px;
        width: 100%;
        z-index: 2;
    }
#agregar_cotizacion {
    text-align:left;
    margin-top: 20px;
    margin-left: 20px;
    }
    #openCrearCotizacionModal {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        background-color: #358CB4; /* Color de fondo verde */
        color: white; /* Color del texto blanco */
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    #openCrearCotizacionModal:hover {
        background-color: #45a049; /* Cambia el color de fondo al pasar el mouse */
    }

/*  modal */
.modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


.modal-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}


.modal-content div {
    margin-bottom: 0px;
    
}



#productTable, #productosSeleccionados {
    margin-top: 15px;
}

#productTable th, #productTable td, #productosSeleccionados th, #productosSeleccionados td {
    border: 1px solid #ddd;
    padding: 10px;
    padding-left: 10px;
    text-align: left;
}

.form-group.date-container {
    display: flex;
    justify-content: space-between;
}

.form-group {
    display: flex;
    align-items: center;
    
}


.form-group .date-container label {
    display: block;
    padding: 10px;
}


.modal-content label,
.modal-content input,
.modal-content select{
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 10px;
}

.sele{
    margin-top: -6px;
}



.modal-content input,
.modal-content select {
    width: calc(100% - 3px); 
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block; 
}



.select-button {
    width: calc(100% - 5px); 
    padding: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    display: inline-block; 
}


button[type="submit"] {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.table-container {
    overflow-y: auto; 
    max-height: 300px; 
}

.table-wrapper {
    width: 100%;
}
