@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Lato:wght@400;700&display=swap');
/* font-family: 'Barlow', sans-serif;
font-family: 'Lato', sans-serif; */
*{
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body, html{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

figure{
    margin: 0;
    padding: 0;
}

figure img{
    margin: 0;
    width: 100%;
}



main#inicio{
    margin: 0;
    min-height: 100vh;
    padding: 0;
    position: relative;
    width: 100%;
} 

h2{
    color: #454545;
    font-size: 1.5em;
    font-weight: 500;
    margin: 20px;
    padding: 0;
}

div#agregar_cotizacion{
    background-color: #358CB4;
    border: none;
    border-radius: 5px;  
    font-size: 1em;
    margin: 20px;
    padding: 10px;
    width: 20%;
}
    #agregar_cotizacion > a{
        text-decoration: none;
        text-align: center;
    }



section#contenido{
    margin: 20px;
}
    
    table{
        border-collapse: collapse;
        width: 100%;
        font-size: 15px;
    }
        
        th, td{
            border: solid 1px #828282;
            padding: 5px; 
        }
    
        th{
            color: #358CB4;
            font-weight: 500;
            text-align: center;
        }
    
        td{
            text-align: left;
        }

    










/* ------------------Clases------------------- */

.lni{
    font-size: 1.8em;
    color: #358CB4;
}

.aviso_agregar{
    color: #fff;
    margin: 0;
    padding: 0;
}

.btns_centro{
    text-align: center;
}