@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Lato:wght@400;700&display=swap');
/* font-family: 'Barlow', sans-serif;
font-family: 'Lato', sans-serif; */
*{
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body, html{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

figure{
    margin: 0;
    padding: 0;
}

figure img{
    margin: 0;
    width: 100%;
}



main#inicio{
    margin: 0;
    min-height: 100vh;
    padding: 0;
    position: relative;
    width: 100%;
} 

h2{
    color: #454545;
    font-size: 1.5em;
    font-weight: 500;
    margin: 20px;
    padding: 0;
}

div#crear_cliente{
    background-color: #5cadd3;
    border: none;
    border-radius: 5px;  
    font-size: 1em;
    margin: 20px;
    padding: 10px;
    width: 20%;
}
    #crear_cliente > a{
        text-decoration: none;
        text-align: center;
    }

div#buscar{
    margin: 30px 20px;
}
    #buscador > i{
        border-radius: 10%;
        color: #358CB4;
        padding: 7px;
        position: absolute;
        z-index: 3;
    }

    #buscador > input{
        border: solid 1px #828282;
        border-radius: 5px;
        font-family: 'Barlow', sans-serif;
        font-size: 15px;
        font-weight: 400;
        margin: 0;
        padding: 0.8em 0.8em 1em 45px;
        width: 100%;
        z-index: 2;
    }

section#contenido{
    margin: 20px;
}

    table{
        border-collapse: collapse;
        width: 100%;

    }

        th, td{
            border: solid 1px #828282;
            font-size: 15px;
            padding: 5px; 
        }

        th{
            color: #358CB4;
            font-weight: 500;
            text-align: center;
        }

        td{
            text-align: left;
        }
div#regresar {
    /* background-color: #57a8ce; */
    border: none;
    border-radius: 3px;  
    font-size: 1em;
    margin: 18px;
    padding: 3px;
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
#atras{
    font-size: 2em;
    color: #52a1bb;
    }




/* ------------------Clases------------------- */

.lni{
    font-size: 1.8em;
    color: #358CB4;
}

.aviso_agregar{
    color: #fff;
    margin: 0;
    padding: 0;
}

.btns_centro{
    text-align: center;
}

