@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Lato:wght@400;700&display=swap');


*{
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body, html{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

figure{
    margin: 0;
    padding: 0;
}

figure img{
    margin: 0;
    width: 100%;
}
h2 {
    margin: 0;
}
p {
    margin: 0;
}

/* PARATRIZACION */

main#inicio {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    section#conten_titulo_1 {
        width: 97%;
        height: 10%;
/*         background-color: aqua; */
        display: flex;
        align-items: center;
        
    }
        section#conten_titulo_1 h2 {
            color: #454545;
            font-size: 1.5em;
            font-weight: 500;
        }

    form#conten_formulario_2 {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
/*         background-color: blueviolet; */
    }
        div#conten_FORM {
            /* background-color: crimson; */
            width: 100%;
            height: 84%;
            display: flex;
            
        }
            section#lado_info_personal {
               /*  background-color: lawngreen; */
                width: 50%;
                height: 100%;
                border-right: 1px solid #BBBBBB;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
                div#conten_titulo_div {
                    /* background-color: blue; */
                    width: 80%;
                    height: 10%;
                    display: flex;
                    align-items: center;
                    color: #57A8CE;
                    font-weight: 500;
                }
                div#conten_inputs_1 {
                    width: 80%;
                    height: 80%;               
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                }

                
            section#lado_info_contacto {
                /* background-color: #454545; */
                width: 50%;
                height: 100%;
                border-left: 1px solid #BBBBBB;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
                div#conten_titulo_div_2 {
                    width: 80%;
                    height: 10%;
                    display: flex;
                    align-items: center;
                    color: #57A8CE;
                    font-weight: 500;
                }
                div#content_inputs_2 {
                    width: 80%;
                    height: 80%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                }


        div#conten_buttons {
            width: 35%;
            height: 16%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            button#boton_registrar {
                background-color: #358CB4;
                border: none;
                color: #fff;
                width: 45%;
                height: 40%;
                border-radius: 8px;
                font-size: 1.0em;
            }
            a#enlace_regresar {
                padding: 1.7% 18%;
                background-color: rgb(255, 255, 255);
                border: 1px solid #57A8CE;
                border-radius: 8px;
                text-decoration: none;
                color: #57A8CE;
            }

    

/* CLASES */

.campo {
    width: 100%;
    height: 18%;
    border-radius: 5px;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 1.0em;
    outline: none;
}


@media screen and (max-width: 500px) {
    #conten_FORM {
        flex-direction: column;
    }
}
@media screen and (max-width: 500px) {
    section#lado_info_personal {
        border-right: 0px solid #ffffff;
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    section#lado_info_contacto {
        border-left: 0px solid #ffffff;
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    div#conten_buttons {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    a#enlace_regresar {
        padding: 2% 18%;
    }
}