<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muestra ventas</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/muestra_ventas.css">
</head>
<body>
    <main id="inicio">
        <section id="opciones">
            <h2>Historial de ventas</h2>
            <div id="buscar">
                <form id="buscador">
                    <i class="lni lni-search-alt"></i>
                    <input type="search" id="buscador_ventas" oninput="buscarVENTAS()" placeholder="Buscar ventas">
                </form>
                
            </div>
            
        </section>
        <section id="contenido">
            <table  id="tablaVentas">
                <thead >
                    <tr>
                        <th>Número de factura</th>
                        <th>C.C cliente</th>
                        <!-- <th>C.C operador</th> -->
                        <th>Nombre operador</th>
                        <th>Apellido operador</th>
                        <th>Fecha de venta</th>
                        <th>Forma de pago</th>
                        <th></th>
                    </tr>
                </thead>
    
                <tbody>
                    {% for c in resul %}
                    <tr>
                        {% for i in range(0,7) %}
                            <td>{{c[i]}}</td>
                        {% endfor %}
                            <td>
                                <a href="{{ url_for('muestra_detalles_ventas', num_factura=c[0]) }}"><i class="lni lni-circle-plus"></i></a>
    
                                <!-- <a href="muestra_detalles_ventas{{c[0]}}">Mas detalles</a> -->
                                <!-- <a href="{{ url_for('muestra_ventas', c=c[0]) }}">Mas detalles</a> -->
    
                            </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p id="noResults" style="display: none;">No se encontraron resultados</p>
        </section>

            <div id="boton-atras">
                <a href="{{url_for ('inicio') }}">Volver a página principal</a>
            </div>
        
            <script src="/static/javaScript/buscadorVentas.js"></script>
    </main>
    
    
    
        

    
   
</body>
</html>