<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/ventas/seleccion_muchos_productos.css">
</head>
<body>


    <main>

        <div id="modal_titulo">
            <p>Producto seleccionado: <span>{{nom_p[0]}}</span> </p>
        </div>
        <div id="modal_info">
            <p>Ingrese el número de unidades para agregar</p>
        </div>

        <form action="/confirma_p_seleccionado" method="post" id="CONTEN_FORM_2">
            <!-- <label for="">Id producto</label> -->
            <input type="hidden" name="id_producto" placeholder="Código del producto" value="{{id_p}}" required>
            <input type="hidden" name="nombre_producto" value="{{nom_p[0]}}">
            <input type="hidden" name="precio_unidad" value="{{nom_p[1]}}">     
            <input type="hidden" name="Stock_disponible" value="{{nom_p[2]}}">

            <div id="contenedor_input">
                <input type="number" name="cantidad_digitada" required id="input_cantidad" autofocus> 
                <!-- <i class="lni lni-package"></i> -->
            </div>
            
            <div id="botones">
                <div class="contenedor_btn">
                    <a href="#" id="btn-cerrar" onclick="cerrarModal()"><i class="lni lni-cross-circle"></i></a>
                </div>
                <div class="contenedor_btn">
                    <button type="submit" id="btn-agregar" ><i class="lni lni-checkmark-circle"></i></button>
                </div>
                
            </div>

        </form>

        
            

        
        
    </main>
    <script>
        // Función para cerrar el modal
        function cerrarModal() {
            var modalContenedor = window.parent.document.getElementById("modalContenedor");
            modalContenedor.style.display = "none";
        }
    </script>















    <!-- <a href="/verCrear_ventas">Regresar</a>

    <br>

    <h1>Producto seleccionado: {{nom_p[0]}}</h1> 
    <br>


    <form action="/confirma_p_seleccionado" method="post">

        <input type="hidden" name="id_producto" placeholder="Codigo del producto" value="{{id_p}}" required>
        <input type="hidden" name="nombre_producto" value="{{nom_p[0]}}">
        <input type="hidden" name="precio_unidad" value="{{nom_p[1]}}">     
        <input type="hidden" name="Stock_disponible" value="{{nom_p[2]}}">

        
        <input type="number" name="cantidad_digitada" placeholder="Digite la cantidad a vender" required> 

        <button type="submit">Realizar</button>

    </form>

    
    <div>
        <p>{{mensaje_Error}}</p>
    </div>
    <div id="boton-atras">
        <button class="boton-atras" onclick="window.location.href='/index'">Regresar al Home</button>
    </div> -->
</body>
</html>