<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
</head>
<body>
        <!-- Realiza la busqueda de un producto del inventario -->
        <form action="/Busca_produc_ven" method="post" id="conten_busqueda">
            <input type="search" placeholder="Busca productos por codigo o nombre" aria-label="Search" name="id_nombre" id="buscador">
            <button type="submit">Buscar</button>
        </form>
    
        <div><!-- tabla que muestra todos los productos del inventario -->
            <table>
                <thead >
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre producto </th>
                        <th>Precio unitario</th>
                        <th>Stock disponible</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
    
                <tbody>         
                    {% for c in prod %}
                    <tr>
                        {% for i in range(0,4) %}
                            <td>{{c[i]}}</td>
                        {% endfor %}
                            <td>
                                <a href="/m_selector_cantidad_p/{{c[0]}}">Seleccionar cantidad</a>
                            </td>
                            <td>
                                <a href="/selector_una_cantidad/{{c[0]}}">Adquirir</a>
                            </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
        <br>
    
        <div><!-- Formulario para realizar la venta de los productos -->
    
            <form action="/confirma_venta" method="post">
                
                <input type="number" name="doc_operador" placeholder="Cedula del operador" value="{{operador}}"  required> 
    
                <input type="number" name="doc_cliente" placeholder="Cedula del Cliente"  required>
    
                <!-- Forma de pago -->
                <select name="forma_de_pago">
    
                    
                    <option value="efectivo">Efectivo</option>
                    <option value="Nequi">Nequi</option>
                    <option value="Daviplata">Daviplata</option>
                    <option value="Bancolombia">Bancolombia</option>
                    <option value="Tarjeta debito">Tarjeta debito</option>
                    <option value="Tarjeta credito">Tarjeta credito</option>
    
                </select>
    
                <!-- Tipo de venta -->
                <select name="tipo_de_venta">
    
                    <option value="venta_normal">Venta</option>
                    <option value="venta_credito">Venta a credito</option>
    
                </select>
    
                <button type="submit">Registrar venta</button>
    
            </form>
    
        </div>
    
        <div><!-- mensajes del sistema -->
            <p>{{mensaje}}</p>
            <p>{{mensaje_2}}</p>
        </div>
    
        <br>
    
    
    
        <div><!-- Tabla que muestra los productos seleccionados para la venta -->
            <table>
                <thead >
                    <tr>
                        <th>Nombre producto </th>
                        <th>Precio unitario</th>
                        <th>Cantidad adquirida</th>
                        <th>Total</th>
                    </tr>
                </thead>
    
                <tbody>         
                    {% for c in prod_carr %}
                    <tr>
                        {% for i in range(1,5) %}
                            <td>{{c[i]}}</td>
                        {% endfor %}
                            <td>
                                <a href="/elimina_p_select/{{c[0]}}">Eliminar</a>
                            </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
        <!-- Boton que elimina todos los productos del carrito de ventas -->
        <div>
            <a href="/elimina_todo_seleccionado_p">Vaciar carrito de ventas</a>
        </div>
    
        <!-- Suma total a pagar -->
        <div>
            <h1>$ {{Total}}</h1>
        </div>
    
        <div id="boton-atras">
            <button class="boton-atras" onclick="window.location.href='/index'">Regresar al Home</button>
        </div>
</body>
</html>