<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/registro/confirmarCuenta.css">
</head>
<body>
        <div id="padre" class="padre">
            <h3>Haz click para confirmar tu correo electrónico</h3>
            <form method="POST">
                <input type="hidden" name="confir"  id="confir" value="confirmado">
                <button type="submit" class="btn">Confirmar correo</button>
            </form>
        </div>
</body>
</html>