<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edita compras de proveedores</title>
    <link rel="stylesheet" href="../../static/css/compra_proveedores/detalles_compras/edita_compras_provee.css">
</head>
<body>
    <div id="ModalEditCompra" class="modal">
        <div class="modal-content" id="modalContent">
            <form action="actualiza_compra_provee" method="post">
                <input type="number" name="num_compra" placeholder="numero de compra"  value="{{resul[1]}}">
                <label for="">detalle N# compra</label>
                <input type="text" name="producto_compra" placeholder="Producto comprado" value="{{resul[2]}}">
                <label for="">Producto</label>
                <input type="number" name="cantidad_compra" placeholder="Cantidad" value="{{resul[3]}}">
                <label for="">Cantidad</label>
                <input type="number" name="valorunidad_prodcompra" placeholder="Valor por unidad"  value="{{resul[4]}}">
                <label for="">Valor x unidad</label>
                <input type="text" name="valortotal_cantidadcomp" value="{{resul[5]}}">
                <label for="">Valor total</label>
                <input type="text" name="totalpagar_compra" value="{{resul[6]}}">
                <label for="">Total a pagar</label>
                <input type="text" name="num_factura_proveedor" value="{{resul[7]}}">
                <label for="">N# factura del proveedor</label>

                <button type="submit">actualizar</button>
            </form>
        </div>
    </div>


   <!--  <div id="boton-atras">
        <button class="boton-atras" onclick="window.location.href='/muestra_compra_proved'">Regresar</button>
    </div> -->
</body>
</html>