<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edita compras de proveedores</title>
    <link rel="stylesheet" href="../../static/css/compra_proveedores/detalles_compras/edita_compras_provee.css">
</head>
<body>
    <div id="ModalEditCompra" class="modal">
        <div class="modal-content" id="modalContent">
            <form id="form-editar-com-provee" action="actualiza_compra_provee" method="post">
                <div id="pagina1" class="pgs_edi_compraprovee">

                    <div>
                        <input type="number" name="num_compra" value="{{resul[0]}}" style="display: none;">
                    </div>
                    <div id="num_compra">
                        <label for="num_compra" class="titulos">Numero compra</label>
                        <input type="number" id="detallenum_compra" name="detallenum_compra" placeholder="numero de compra"  value="{{resul[7]}}">
                    </div>
                    <div id="producto_compra">
                        <label for="producto_compra" class="titulos">Producto</label>
                        <input type="text" id="producto_compra" name="producto_compra" placeholder="Producto comprado" value="{{resul[2]}}">
                    </div>
                    <div id="cantidad_compra">
                        <label for="cantidad_compra" class="titulos">Cantidad</label>
                        <input type="number" id="cantidad_compra" name="cantidad_compra" placeholder="Cantidad" value="{{resul[3]}}">
                    </div>
                </div>
                <div id="pagina2" class="pgs_edi_compraprovee">
                    <div id="valorunidad_prodcompra">
                        <label for="valortotal_cantidadcomp" class="titulos">Valor x unidad</label>
                        <input type="number" id="valorunidad_prodcompra" name="valorunidad_prodcompra" placeholder="Valor por unidad"  value="{{resul[4]}}">
                    </div>
                    <div id="valortotal_cantidadcomp">
                        <label for="valortotal_cantidadcomp" class="titulos">Valor total</label>
                        <input type="text" id="valortotal_cantidadcomp" name="valortotal_cantidadcomp" value="{{resul[5]}}">
                    </div>
                </div>
                
                <button type="submit" id="btn-actualizar" class="btn">Actualizar</button>
            </form>
        </div>
    </div>

</body>
</html>