<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compras proveedores</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/muestra_compras_prove.css">
</head>
<body>
    <main id="inicio">
        <section id="opciones">
            <h2>Compras a proveedores</h2>
            <div class="opciones">
                <a class="color_opciones" href="Regitra_compra_prov">Registrar compra</a>
            </div>
            <div  class="opciones">
                <a class="color_opciones" href="{{url_for('proveedores')}}">Proveedores</a>
            </div>
            <div id="buscar">
                <form action="busca_compras_prov" method="post" id="buscador">
                    <i class="lni lni-search-alt"></i>
                    <input type="search" placeholder="Busca alguna compra" aria-label="Search" name="dato_busqueda" id="buscador_2" oninput="buscarCompras_prove()"> 
                </form>
            </div>
        </section>
        <section id="contenido">
            <table class="content-table" id="tabla_productos">
                <thead >
                    <tr>
                        <th>Número compra</th>
                        <th>Proveedor</th>
                        <th>Documento operador</th>
                        <th>Nombre operador</th>
                        <th>Apellido operador</th>
                        <th>Fecha</th>
                        <th>Dirección</th>
                        <th>Num_factura_proveedor</th>
                        <th></th>
                        <th></th>
                        <th></th>

                    </tr>
                </thead>

                <tbody>
                    {% for c in resul %}
                    <tr>
                        {% for i in range(0,8) %}
                            <td>{{c[i]}}</td>
                        {% endfor %}
                            <td>
                                <a class="boton-editar" href="edita_compras_provee/{{c[0]}}"> <i class="lni lni-pencil"></i></a>
                            </td>
                            <td>
                                <a class="boton-eliminar"  href="cancelar_compra_proveed/{{c[0]}}"><i class="lni lni-trash-can"></i></a>
                            </td>
                            <td>
                                <a href="muestra_detalles_com/{{c[0]}}"><i class="lni lni-circle-plus"></i></a>
                            </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p id="noResults" style="display: none;">No se encontraron resultados</p>
        </section>

        <div id="regresar">
            <a href="{{url_for ('inicio') }}" class="campo_a">
                <i id="atras" class="lni lni-arrow-left"></i>
            </a>
        </div>
    </main>

    <script src="../../static/javaScript/buscarCompras_prove.js"></script>
</body>
</html>