<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compras proveedores</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/compra_proveedores/muestra_compras_prove.css">
</head>
<body>

    <main id="cuerpo">

        <section id="section_1">
            <p>Compras a proveedores</p>
        </section>

        <section id="section_2">

            <div id="conten_botones">
                <div id="conten_regresar">
                        <a href="{{url_for ('inicio') }}" id="isla_1">
                            <i id="boton_back" class="lni lni-home"></i>
                        </a>
                </div>
                <div id="conten_btn_navegacion">
                    <div id="isla_2">
                        <a class="botones"  href="{{url_for('muestra_compra_proved')}}">Compras a  proveedores</a>
                        <!-- <a class="botones" href="" onClick="abrirModal()">Registrar una compra</a> -->
                        <span class="botones" onClick="abrirModal()">Registrar compra</span>
                    </div> <!-- {{url_for('Regitra_compra_prov')}} -->
                </div>
            </div>

            <div id="conten_tabla">

                <div id="isla_3">
                    <section id="section_buscador_titulo">
                        
                        <div id="conten_titulo">
                            <p>Mis compras</p>
                        </div>
                        <form id="form_conten">
                            <i id="icono_busqueda" class="lni lni-search-alt"></i>
                            <input type="search" id="buscador_2" oninput="buscarCompras_prove()" placeholder="">
                        </form>

                    </section>
                    <section id="section_tabla_info">
                        <div id="conten_t">
                            <table id="tabla_productos">
                                <thead>
                                    <tr>
                                        <th>Número compra</th>
                                        <th>C.C./NIT proveedor</th>
                                        <th>Nombre proveedor</th>
                                        <th>Número factura del proveedor</th>
                                        <th>Nombre operador</th>
                                        <th>Fecha de compra</th>
                                        <th>Dirección</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                            
                                <tbody>
                                    {% for c in resul %}
                                    <tr>
                                        {% for i in range(0,8) %}
                                            
                                            <td>{{ c[i] }}</td>
                                            
                                        {% endfor %}
                                        <td class="btns_centro">
                                            <a href="edita_compras_provee/{{c[0]}}"><i id="icono_ver_mas" class="lni lni-pencil"></i></a>
                                        </td>
                                        <td class="btns_centro">
                                            <a onclick="return confirm('Seguro que deseas eliminar el producto?')" href="cancelar_compra_proveed/{{c[0]}}">
                                                <i id=icono_2 class="lni lni-trash-can"></i>
                                            </a>
                                        </td>
                                        <td class="btns_centro">
                                            <a  href="muestra_detalles_com/{{c[0]}}">
                                                <i id=icono_3 class="lni lni-circle-plus"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <p id="noResults" style="display: none;">No se encontraron resultados</p>
                            </table>
                        </div>
                    </section>

                </div>

            </div>

        </section>

        <div id="modal">
            <h4>Registra compras de proveedores</h4>
            <form id="compraForm">
                <div>
                    <label for="proveedor_compra">Proveedor</label>
                    <select name="proveedor_compra" id="proveedor_compra" class="input_campo">
                        <option value="">Proveedor</option>
                        {% for c in resul %}
                            <option value="{{c[0]}}">{{c[1]}}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div>
                    <label for="fecha_compra">Fecha</label>
                    <input type="date" name="fecha_compra" id="fecha_compra" class="campo">
                </div>
                
                <div>
                    <label for="num_factura_proveedor">N° factura</label>
                    <input type="text" name="num_factura_proveedor" id="num_factura_proveedor" placeholder="N° factura" class="campo">
                </div>
        
                <div>
                    <label for="producto_compra">Producto</label>
                    <input type="text" name="producto_compra" id="producto_compra" placeholder="Producto" class="campo">
                </div>
        
                <div>
                    <label for="cantidad_compra">Cantidad</label>
                    <input type="number" name="cantidad_compra" id="cantidad_compra" placeholder="Cantidad" id="cantidad" class="campo">
                </div>
        
                <div>
                    <label for="valor_unidad">Valor por unidad</label>
                    <input type="number" name="valor_unidad" id="valor_unidad" placeholder="Valor por unidad" class="campo">
                </div>
        
            </form>
            <button type="button" onclick="agregarProducto()">Agregar Producto</button>
            <button type="submit">Registrar</button>
            <button type="button" onclick="cerrarModal()">Cerrar</button>
        </div>

    </main>
    <script src="../../static/javaScript/modal_form_compraProveedores.js"></script>
    <script src="../../static/javaScript/buscarCompras_prove.js"></script>
</body>
</html>