<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registra compras de proveedores</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/compra_proveedores/registrar_compra_proveedores.css">
</head>
<body>
 
    <main id="inicio">
        <form action="Registrar_compra_p" method="post" id="conten_formulario_2">
            <div class="cont-campos">
                <select name="proveedor_compra" id="proveedor_compra" class="input_campo">
                    <option value="">Proveedor</option>
                            {% for c in resul %}
                                <option value="{{c[0]}}">{{c[1]}}</option>
                            {% endfor %}
                </select>
                <input type="date" name="fecha_compra" id="fecha" class="campo">
                <input type="text" name="num_factura_proveedor" placeholder="N° factura" class="campo">
                <input type="text" name="producto_compra" placeholder="Producto" class="campo">
                <input type="number" name="cantidad_compra" placeholder="Cantidad" id="cantidad" class="campo">
                <input type="number" name="valor_unidad" placeholder="Valor por unidad" class="campo">
            </div>
            <div id="boton-atras">
                <button type="submit" class="boton-atras">registrar compra</button>
            </div>

        </form>

        <p> {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}</p>

        <div id="regresar">
            <a href="{{url_for ('muestra_compra_proved') }}" id="enlace_volver">
                    <i id="atras" class="lni lni-arrow-left"></i>
                </a>
        </div>
    </main>
</body>
</html>