<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <main id="inicio"> 
            <div id="contenedor">
                <div id="logo">
                    <figure class="logo">
                        <img src="/static/image/parabrisas_logo.png" alt="logo de la empresa">
                    </figure>
                </div>

                <div id="info">    
                    <form id="campo_entrar" class="campo_entrar" name="login" action="/login" method="post">
                        <div class="campos">
                            <i class="lni lni-postcard"></i>
                            <input id="cliente_doc" type="text" name="cedula" id="cedula" inputmode="numeric" pattern="[0-9]{10}" maxlength="10" minlength="6" autocomplete="off" tabindex="1" placeholder="Cédula" autofocus="" required>
                        </div>

                        <div class="campos">    
                            <i class="lni lni-lock-alt"></i>
                            <input id="cliente_cel" type="password" name="contrasena" id="contrasena"   placeholder="Contraseña" required>
                        </div>

                        <div id="entrar">
                            <a href=""> 
                                <figure id="huella"><img src="/static/image/huella.png" alt=""></figure>
                            </a>
                            <button type="submit" class="btn fondo-color color-blanco"  value="Ingresar">Ingresar</button>
                        </div>
                    </form>
                </div> 
            </div>
            {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul>
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
            {% endwith %}        
        <p class="firma">ADSO 01 2023</p>   
    </main>
</body>
</html>