<!DOCTYPE html>
<html>
<head>
    <title>Confirmación de correo electrónico</title>
    <link rel="stylesheet" href="/static/css/enviocontra.css">
</head>
<body>
    <h1>Bienvenido@ {{ nombre }},</h1>
    <p>Su cuenta ha sido registrada exitosamente.</p>
    <p>Para confirmar tu cuenta y que la puedas utilizar, haz click en el siguiente enlace: <a href="{{ correo_url }}">Confirmar cuenta</a></p>
    <p>Si no fuiste tú quien registró la cuenta, puedes ignorar este correo.</p>
    <p>Gracias.</p>
</body>
</html>