<!DOCTYPE html>
<html>
<head>
    <title>Restablecimiento de contraseña</title>
    <link rel="stylesheet" href="/static/css/envioEmail/recuContraseña.css">
</head>
<body>
    <div id="padre" class="padre">
        <h1>Restablecimiento de contraseña</h1>

        <form  method="POST">
            <div class="contrasena">
                <label for="contra">Ingresa tu nueva contraseña</label>
                <input type="password" name="password" placeholder="Ingresa tu contraseña"title="La contraseña debe tener entre 8 y 16 caracteres, al menos una minúscula , al menos una mayúscula y al menos un simbolo." 
                required>
            </div>
            <button type="submit">Restablecer contraseña</button>
        </form>
</div>
</body>
</html>
