@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Poppins:wght@300;500&display=swap');


.modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


.modal-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}


.modal-content div {
    margin-bottom: 0px;
    
}


#actualizar_empleado{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    #actualizar_empleado input{
        border: solid 1px #aaa;
        border-radius: 5px;
        font-family: 'Barlow', sans-serif;
        font-size: 14px;
        font-weight: 400;
        margin: 6px 0;
        padding: 10px 10px 10px 45px;
        position: relative;
        width: 100%;
        z-index: 2;
    }

    #fecha_nac{
        display: flex;
        flex-direction: column;
        margin: 4px 0 6px 0;
    }

    #fecha_nac > input{
        margin: 0;
        padding: 0.6em 15px;
    }

    #documento{
        margin: 14px 0 0 0;
    }

    #direccion{
        margin: 8px 0 0 0;
    }


    #rol_edita_empleado{
        margin: 0 0 5px 0;
        width: 40%;
    }

    #ciudad{
        display: flex;
        flex-direction: column;
        margin: 5px 0 0 0;
    }



/*---------------------------CLASES----------------------------------*/
.campos{
margin: 8px;
position: relative;
/* width: 100%; */
/* flex-basis: 250px; */

}

.campo_icono > i{
border-radius: 10%;
color: #358CB4;
left: 3px;
padding: 10px;
position: absolute;
transform: translateY(18%);
z-index: 3;
}

.aclaracion{
margin: 0;
padding: 0;
font-size: 15px;
}

.select{
    border-radius: 5px;
    margin: 0;
    padding: 0.6em 15px;
    border: solid 1px #aaa;
    background: transparent;
    width: 100%;
    font-size: 14px;
}

.btn{
background-color: #358CB4;
border: none;
border-radius: 5px;
color: #fff;
font-size: 0.9em;
margin: 10px;
padding: 8px 17px;
width: 60%;
height: 15%;
}


