<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proveedores</title>
    <link rel="stylesheet" href="../../static/css/muestra_proveedores.css">
</head>
<body>
    <div></div>
    <h1>Cotizaciones</h1>
    <div id="crear-prov">
    </div>
    <br>
    <a href="{{url_for('CrearCotizacion')}}">Crear cotizacion</a>
    <table class="content-table" id="tabla_productos">
        <thead >
            <tr>
                <th>Cedulade de cliente</th>
                <th>Nombre de cliente</th>
                <th>Nombre del operador</th>
                <th>Apellido del operador</th>
                <th>Fecha inicio de cotizacio</th>
                <th>Fecha fin de cotizacion</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for dato in datos %}
                <tr>
                    {% for i in range(0,6) %}

                        <td>{{dato[i]}}</td>

                    {% endfor %}

                        <td>
                            <a class="boton-editar" href=" editarCotizacion/{{dato[0]}}">Editar</a>
                        </td>

                        <td>
                            <a class="boton-eliminar"  onclick="return confirm('Seguro que deseas eliminar el producto?')" href="/borraCotizacion/{{dato[0]}}">Eliminar</a>
                        </td>

                </tr>
            {% endfor %} 
        </tbody>
    </table>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}   

    <div id="boton-atras">
        <a href="{{url_for ('inicio') }}">Volver a pagina principal</a>
    </div>
</body>
</html>