<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizaciones</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/muestra_cotizaciones.css">
</head>
<body>
    <main id="inicio">
        <section id="opciones">
            <h2>Cotizaciones</h2>
            <div id="agregar_cotizacion">
                <a href="{{url_for('CrearCotizacion')}}">
                    <p class="aviso_agregar">Agregar cotización</p>
                </a>
            </div>

            <div id="buscar">
                <form id="buscador">
                    <i class="lni lni-search-alt"></i>
                    <input type="text" id="searchProduct" oninput="buscarCotizacion()" placeholder="Buscar cotizacion">
                </form>
            </div>
        </section>
        
        
        <section id="contenido">
            <table id="cotizacionTable">
                <thead>
                    <tr>
                        <th>C.C. cliente</th>
                        <th>Nombre cliente</th>
                        <th>Fecha inicio</th>
                        <th>Fecha final</th>
                        <th>Nombre operador</th>
                        <th>Apellido operador</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dato in datos %}
                        <tr>
                            
                            <td>{{dato[1]}}</td>
                            <td>{{dato[2]}}</td>
                            <td>{{dato[3]}}</td>
                            <td>{{dato[4]}}</td>
                            <td>{{dato[5]}}</td>
                            <td>{{dato[6]}}</td>
                            
                            <td class="btns_centro">
                                <a href="editarCotizacion/{{dato[0]}}">
                                    <i class="lni lni-pencil"></i>
                                </a>
                            </td>

                            <td class="btns_centro">
                                <a onclick="return confirm('Seguro que deseas eliminar el producto?')" href="/borraCotizacion/{{dato[0]}}">
                                    <i class="lni lni-trash-can"></i>
                                </a>
                                </td>

                        </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </section>

        <p id="noResults" style="display: none;">No se encontraron resultados</p>

    
            <div id="boton-atras">
                <a href="{{url_for ('inicio') }}" id="enlace_volver">Volver a pagina principal</a>
            </div>
    </main>
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

    {% endwith %}
<script src="/static/javaScript/buscarCotizacion.js">
    
</script>
</body>
</html>

</html>