<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cotización</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/crear_cotizaciones.css">
    <style>

    </style>
</head>

<body>

<h2>Crear Cotizacion</h2>

<form action="/crearCotizacion" method="POST">
    <div id="formularioAdicional">
        <label for="fechaInicioNuevoCliente">Fecha de Inicio:</label>
        <input type="date" name="fechaInicioNuevoCliente" required>

        <label for="fechaFinNuevoCliente">Fecha de Fin:</label>
        <input type="date" name="fechaFinNuevoCliente" required>

        <select name="clienteCotizacion" id="clienteCotizacion" required>
            <option value="" disabled selected>Selecciona un cliente</option>
            {% for client in resulta %}
                <option value="{{ client[0] }}">{{ client[0] }} {{ client[1] }}</option>
            {% endfor %}
        </select>

        <div class="campos">
            <input type="text" id="searchProduct" oninput="filterProducts()" placeholder="Buscar productos">

            <table id="productTable">
                <thead>
                    <th>Nombre del Producto</th>
                    <th>Seleccionar</th>
                </thead>
                <tbody>
                    {% for c in detalle %}
                        <tr>
                            <td>{{ c[0] }}</td>
                            <td><button type="button" class="select-button" onclick="selectProduct('{{ c[0] }}')">Seleccionar</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <table id="productosSeleccionados" name="referenciaProductos[]">
                <thead>
                    <th>Nombre del Producto</th>
                    <th>Cantidad</th>
                    <th>Eliminar</th>
                </thead>
                <tbody>

                </tbody>
            </table>

            <input type="number" id="cantidadProductoSeleccionado" name="cantidadProductosCotizacion" placeholder="Cantidad de productos" class="campo" disabled>

        </div>

        <button type="submit" value="Registrar">Crear Cotizacion</button>
    </div>
</form>

<script src="/static/javaScript/cotizacion.js"></script>

</body>
</html>
