<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/cotizaciones/detalle_cotizaciones.css">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

    <title>Detalle cotización</title>
    

</head>
<body>
    <div class="factura">
        <div class="encabezado">
            <div id="logo">
                <figure id="logo">
                    <img src="/static/image/parabrisas_logo.png" alt="">
                </figure>
            </div>
            <div class="nombre_empresa">
                <h3>PARABRISAS DEL VALLE S.A.S</h3>
            </div>
        </div>
        <div class="informacion">
            {% for dato in info %}
                <div class="detalles-factura">
                    <p class="Nfactura">{{dato[0]}}</p>
                    <p>Fecha: {{dato[5]}}</p>
                </div>
                <div class="info_empresa">
                    <p>Correo: parabrisasdelvalle1@hotmail.com</p>
                    <p>NIT: 900719464-6/DIANA IVONNE PARRA R.</p>
                    <p>SOMOS RESPONSABLE DE IVA</p>
                    <p>GUADALAJARA DE BUGA</p>
                    <p>CL 18 126 TEL 316 831 8791</p>
                </div>
        </div>
        <div class="descripcion_empresa">
            <h5> MANTENIMIENTO Y REPARACIÓN DE VEHÍCULOS AUTOMOTORES</h5>
            <h5>Compra Venta DE PARTES,PIEZAS (AUTOPARTES) Y ACCESORIOS (LUJOS) PARA VEHÍCULOS AUTOMOTORES </h5>
        </div>
        <div class="Informacion_cliente">

                <div class="infomacio_cliente_1">
                    <p>Cliente: {{dato[6]}}</p>
                    <p>Dirección: {{dato[7]}}</p>
                    <p>Ciudad: {{dato[9]}}</p>
                </div>
                <div class="infomoción_cliente_2">
                
                
                    <p>NIT/ Cedula: {{dato[1]}}</p>
                    <p>Teléfono: {{dato[10]}}</p>
                    <p>Correo: {{dato[8]}}</p>
                
                </div>
                
                <div class="informacion_vendedor_1">
                    <p>Vendedor: {{dato[2]}}  {{dato[3]}}</p>
                </div>
            {% endfor %}
        </div>
        <table class="lista-items">
            <thead>
                <tr>
                    <th>Nombre del producto</th>
                    <th>Precio Unitario</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for dato in datos %}
                <tr>
                    <td>{{ dato[0] }}</td>
                    <td>${{ '{:,.0f}'.format(dato[2]) }}</td>
                    <td>{{ dato[1] }}</td>
                    <td>${{ '{:,.0f}'.format(dato[3]) }}</td>
                </tr>
            {% endfor %}
                
            </tbody>
        </table>
        <div class="total">
        
            <div class="total_pagar">
                <p>TOTAL A PAGAR: ${{ '{:,.0f}'.format(total_cantidad) }}</p>
                <p>Son: veiticico dociento pesos</p>
            </div>
            
        </div>
        
    </div>
    <div id="regresar">
        <a href="{{url_for ('Cotizacion') }}" id="enlace_volver">
            <i id="atras" class="lni lni-arrow-left"></i>
            Volver a cotizar
        </a>
    </div>
    
</body>
</html>