<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario cotizaciones</title>
    <link rel="stylesheet" href="../../static/css/editar_cotizacion.css">
</head>
<body>

    <main id="inicio">
        <div>
            <h2>EDITAR COTIZACIONES</h2>
        </div>
        
            <form action="/atualizarCotizacion" method="post" id="formu_proveed">
                <div class="campos">
                    
                    <input type="text" name="clienteCotizacion" id="documentoProvedor"  class="campo" value="{{resul[7]}}">
                    <input type="date" name="fechaInicioCotizacion" id="fechaInicioCotizacion"  class="campo" value="{{resul[1]}}">
                    <input type="date" name="fechaFinCotizacion" id="fechaFinCotizacion" class="campo" value="{{resul[0]}}">

                </div>
                <div id="boton-atras">
                <input type="submit" value="Registrar" class="boton-atras">
                </div>
            </form>
    </main>

</body>
</html>