<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles Cotizacion</title>
</head>
<body>
    
    <main>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Número Cotizacion</th>
                        <th>Fecha Inicio Cotizacion</th>
                        <th>Fecha Fin Cotizacion</th>
                        <th>CC. Cliente</th>
                        <th>Nombre Cliente</th>
                        <th>Contacto</th>
                        <th>Correo</th>
                        <th>Producto</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Vendedor</th>
                       
                    </tr>
                </thead>
            </table>
        </div>
    </main>

</body>
</html>