<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cliente</title>
    <!-- Agregar enlaces a estilos CSS -->
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <!-- Agregar estilos locales si es necesario -->
    <link rel="stylesheet" href="../../static/css/clientes/edita_clientes.css">
</head>

<body>
    <div id="editarClienteModal" class="modal">
        <div class="modal-content" id="modalContent">
            <form action="/Actualizar_clie" method="post" id="campo_registro">

                <div id="page_1" class="campos">
                    <div id="documento">
                        <input type="hidden" name="doc_cliente" id="documento" class="input_campo" value="{{resul[0]}}">
                    </div>
                    <div id="nombre" class="campo_icono">
                        <i class="lni lni-user"></i>
                        <input type="text" name="nom_cliente" id="nombre" class="input_campo" value="{{resul[1]}}">
                    </div>
                    <div id="contacto" class="campo_icono">
                        <i class="lni lni-mobile"></i>
                        <input type="number" name="contacto_cliente" id="contacto" class="input_campo"
                            value="{{resul[4]}}">
                    </div>
                    <div id="fecha_nac" class="fecha_nac">
                        <label id="label_fecha" for="fecha" class="aclaracion">Fecha de nacimiento</label>
                        <input type="date" name="fecha_nacimiento_cliente" id="fecha" class="input_campo"
                            value="{{resul[3]}}">
                    </div>
                    <div  id="ciudad" class="campo_icono">
                        <i class="lni lni-home"></i>
                        <input type="text" name="ciudad_cliente" id="ciudad" class="input_campo"
                            value="{{resul[7]}}">  
                    </div>
                    
                </div>

                <div id="page_2" class="campos">
                    <div id="apellido" class="campo_icono">
                        <input type="text" name="ape_cliente" id="apellido" class="input_campo" value="{{resul[2]}}">
                    </div>
                    <div id="correo" class="campo_icono">
                        <i class="lni lni-envelope"></i>
                        <input type="email" name="email_cliente" id="correo" class="input_campo"
                            value="{{resul[5]}}">
                    </div>
                    <div id="tipo_persona">
                        <label id="label_otp" for="opt" class="aclaracion">Tipo de persona</label>
                        <select id="opt" name="tipo_persona" class="select">
                            <option value="{{resul[8]}}">{{resul[8]}}</option>
                            <option value="natural">Natural</option>
                            <option value="juridica">Juridica(representante legal)</option>
                        </select>
                    </div>
                    <div id="direccion" class="campo_icono">
                        <i class="lni lni-map-marker"></i>
                        <input type="text" name="direccion_cliente" id="direccion" class="input_campo"
                            value="{{resul[6]}}">
                    </div>
                </div>
                <button type="submit" id="btn" class="btn" onclick="animacion_envio()">Actualizar</button>
            </form>
        </div>
    </div>

</body>

</html>
