<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de clientes</title>
</head>
<body>
    <main id="inicio">
        <form action="/crear_cliente" method="post" id="formu_clientes">
            <h2>Registrar cliente</h2>
                <div class="cont-campos">
                    
                    <input type="number" name="doc_cliente" id="documento" placeholder="Documento" class="campo">
                        
                    <input type="text" name="nom_cliente" id="nombre" placeholder="Nombres" class="campo">

                    <input type="text" name="ape_cliente" id="apellido" placeholder="Apellidos" class="campo">

                    <input type="date" name="fecha_nacimiento_cliente" placeholder="Fecha de nacimiento" class="campo">

                    <input type="number" name="contacto_cliente" id="contacto" placeholder="Numero de contacto" class="campo">

                    <input type="email" name="email_cliente" id="correo" placeholder="email" class="campo">

                    <input type="text" name="direccion_cliente" id="direccion" placeholder="Dirección" class="campo">

                    <input type="text" name="ciudad_cliente" id="ciudad" placeholder="ciudad" class="campo">
                </div>

                <div id="contenedor_tipo" class="optiones">
                    <select id="opt" name="tipopersona" class="tipo_persona">
                        <option value="">seleciona tipo de persona</option>
                        <option value="natural">Natural</option>
                        <option value="juridica">Juridica(representante legal)</option>
                    </select>
            </div>
            <div>
                    <button type="submit">Guardar</button>
            </div>
        </form>
        <div id="boton-atras">
            <a href="{{url_for('clientes')}}"> Volver a clientes</a>
        </div>
    </main>
</body>
</html>