<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar devoluciones</title>
    <link rel="stylesheet" href="../../static/css/editar_devolucion.css">
</head>
<body>
    <main id="inicio">
        <div>
            <h2>EDITAR DEVOLUCIONES</h2>
        </div>
        <div id="img-parabri">
            <img src="../../static/img/logo_parabrisas_delvalle_PNG_sinFondo.png" alt="logo-fondo-parabrisas-sin-fondo" id="logo">
        </div>
            <form action="/atualizarCotizacion" method="post" id="formu_devolucion">
                <div class="campos">

                    <label for="id">Numero de devolucion</label>
                    <input type="number" name="id" id="id" value="{{resul[0]}}">

                    <label for="num_factura">Numero de factura</label>
                    <input type="number" name="num_factura" id="num_factura"  class="campo" value="{{resul[1]}}">

                    <label for="cliente_devolucion">Documento de cliente</label>
                    <input type="text" name="cliente_devolucion" id="cliente_devolucion" class="campo" value="{{resul[5]}}">

                </div>
                <div id="boton-atras">
                    <input type="submit" value="Registrar" class="boton-atras">
                </div>
            </form>
    </main>
        <div id="boton-atras">
            <button id="btn-atras" onclick="window.location.href='/index'">Regresar  al Home</button>
        </div>
</body>
</html>