<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar detalle de devolución</title>
    <link rel="stylesheet" href="../../static/css/devoluciones/editar_detalle_devolucion.css">
</head>
<body>
    <main id="inicio">
        <div>
            <h2>Editar detalle de devolución</h2>
        </div>
        <div id="img-parabri">
            <img src="../../static/img/logo_parabrisas_delvalle_PNG_sinFondo.png" alt="logo-fondo-parabrisas-sin-fondo" id="logo">
        </div>
        <form action="/editarDetalleDevoluciones" method="post" id="formu-detalle-devoluciones">
            <div class="campos">
                <input type="text" name="id" id="id" class="campo" value="{{resul[0]}}">
                
                <input type="number" name="num_devolucion" id="num_devolucion" class="campo" value="{{resul[1]}}">
                <input type="text" name="producto_devolucion" id="producto_devolucion" class="campo" value="{{resul[2]}}">

                <input type="number" name="cantidad_produdevolucion" id="cantidad_produdevolucion" class="campo" value="{{resul[3]}}">
                <input type="number" name="precio_proddevolucion" id="precio_proddevolucion" class="campo" value="{{resul[4]}}">
                
                <input type="text" name="motivo_devolucion" id="motivo_devolucion" class="campo" value="{{resul[5]}}">
                <input type="number" name="monto_total_devolucion" id="monto_total_devolucion" class="campo" value="{{resul[6]}}">
            </div>
            <div id="boton-atras">

                <input type="submit" value="Registrar" class="boton-atras">
            </div>
            <div id="boton-atras">
                <button class="boton-atras" onclick="window.location.href='/index'">Regresar al Home</button>
            </div>
        </form>
    </main>
</body>
</html>