<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar devoluciones</title>
    <link rel="stylesheet" href="../../static/css/registrar_devoluciones.css">
</head>
<body>
    <main id="inicio">
        <div>
            <h2>CREAR DEVOLUCIÓN</h2>
        </div>
        <div id="img-parabri">
            <img src="../../static/img/logo_parabrisas_delvalle_PNG_sinFondo.png" alt="logo-fondo-parabrisas-sin-fondo" id="logo">
        </div>
        <form action="/crear_devolucion" method="post" id="formu_devolucion">

            <div class="campos">
                <input type="number" name="num_factura" id="num_factura" placeholder="Numero de factura" class="campo">
                <input type="text" name="cliente_devolucion" id="cliente_devolucion" placeholder="Documento del cliente" class="campo">

                <input type="text" name="producto_devolucion" id="producto_devolucion" placeholder="Nombre del producto" class="campo">
                <input type="number" name="cantidad_proddevolucion" id="cantidad_proddevolucion" placeholder="Cantidad a devolver" class="campo">

                <input type="number" name="precio_proddevolucion" id="precio_proddevolucion" placeholder="Valor" class="campo">
                <input type="text" name="motivo_devolucion" id="motivo_devolucion" placeholder="Motivo de la devolucion" class="campo" >
            </div>
            <div class="subtitulos">
                
                <label for="monto_total_devolucion">Valor total</label>
                <input type="number" name="monto_total_devolucion" id="monto_total_devolucion" placeholder="Valor total" class="campo">
                <label for="fecha_devolucion">Fecha de la devolucion</label>
                <input type="date" name="fecha_devolucion" id="fecha_devolucion"  class="campo">
                
            </div>
            <div>
                <button type="submit">Guardar</button>
            </div>

        </form>
    </main>
    <div id="regresar">
        <a href="{{url_for ('inicio') }}" class="campo_a">
            <p class="color_p">Volver a pagina principal</p>
        </a>
    </div>
</body>
</html>